[2020-12-05 10:45] theapplefolks commented on #393
Yeah, any updates? I also really need this.

[2020-12-05 11:26] balazsorban44 commented on #393
So if I understand correctly, #837 would help here, right?

[2020-12-05 12:39] ThewBear commented on #266
Maybe we can add [my solution](https://github.com/nextauthjs/next-auth/issues/266#issuecomment-682390478) to the docs?

[2020-12-05 13:14] balazsorban44 opened #912 "Regarding stale issues"
Hi there! 👋

If you are reading this, you probably met our little non-human 🤖 friend who told you to come here.

In an effort to reduce the number of open issues, we use [stalebot](https://github.com/probot/stale) to close old/inactive issues.

**If you think your issue is still relevant and/or unresolved, we encourage you to comment on the issue, so it will be marked as not stale again.**

We hop

[2020-12-05 13:39] #688 closed

[2020-12-05 13:40] #597 closed

[2020-12-05 13:40] #564 closed

[2020-12-05 14:50] chrskrchr commented on #573
I agree with @FluidSense that at the very least, the docs should be updated to reflect that `profileUrl` is NOT optional.

[2020-12-05 15:14] mAAdhaTTah commented on #447
There are a couple issues similar/related to this one (tagging #871), which I think is resolved by #513.

[2020-12-05 16:04] balazsorban44 commented on #266
Would you be interested in opening a PR @ThewBear?

[2020-12-05 16:06] balazsorban44 commented on #573
Hi, thanks! @FluidSense @chrskrchr would any of you be interested in opening a PR and link to this issue? :slightly_smiling_face:

[2020-12-05 16:59] balazsorban44 commented on #872
@arifikhsan I assume this helped, or you found a solution. I am going to close this, feel free to reopen or comment if you need further assistance.

[2020-12-05 16:59] #872 closed

[2020-12-05 17:00] iamchathu opened #913 "session.accessToken is undefined"
**Your question**
I'm using Auth0 provider and I have a 3rd Party Backend which is also secured with Auth0.
I have setup the provider as following but when I try to access session.accessToken, it returned as undefined.

**What are you trying to do**
To retrieve accessToken to access the backend which is not with Next.js.

// api/auth/[...nextauth].ts

[code]

**Feedback**
*Documentation refers to

[2020-12-05 17:50] balazsorban44 commented on #890
Hi @frankmeszaros! Thanks for raising the issue. As a workaround, you could change the following:
https://github.com/frankmeszaros/nextauthspotifybug/blob/c06c77e3f9221a6f0b24315dfcefed3d25436c31/pages/api/auth/%5B...nextauth%5D.js#L39-L42

to this:
[code]
Any user-provided properties added to `Providers.Spotify` will override the default one. This uses [Optional Chaining](https://developer.mozill

[2020-12-05 17:55] #890 closed

[2020-12-05 18:00] balazsorban44 commented on #913
Could you please provide a bit more information about how you set up Auth0 with `next-auth`?

[2020-12-05 18:03] #900 closed

[2020-12-05 19:52] MatteoGauthier commented on #563
Any update about this problem

[2020-12-05 20:06] griffin610 opened #916 "Session.user.id and session.accessToken when using next-auth to gain access to the Spotify api."
**Your question**
How am I supposed to access the Spotify users id and the access token granted by Spotify using next-auth.

**What are you trying to do**
I am trying to implement a function to export my playlist I have saved to Spotify. I use next-auth in order to handle the user login with Spotify. However I am having trouble when trying to access the user id and the access token. However, I get

[2020-12-05 20:24] balazsorban44 commented on #563
Could you please provide a bit more information about your usecase? What kind of provider are you using? Where do you need the access token? Do you maybe have a reproduction repository you can link to?

[2020-12-05 20:29] balazsorban44 commented on #916
Hi @griffin610 anf thanks for raising this issue.

Could you please provide a bit more information about your usecase? Maybe a reproduction repository?

Did you use the [Spotify](https://next-auth.js.org/providers/spotify) provider?

[2020-12-05 20:35] griffin610 commented on #916
Hi @balazsorban44 Thank you for the quick reply.
I am developing a project where I am trying to be able to export a playlist I have created to Spotify. In order to do so I need the Spotify user ID and the access token granted when they sign in order to do this through the Spotify api.

I used your provided Spotify provider and changed it to match the scopes I needed as follows.
`providers: [

[2020-12-05 20:44] balazsorban44 commented on #916
Right.

https://github.com/nextauthjs/next-auth/blob/main/src/providers/spotify.js

Here you can see the configuration for the `Spotify` provider. You can add a `profile` method to your configuration, and see if you can find the id.

You can also check out the `jwt` callback, and see what information is available to you there on sign in.

Please check out the [relevant docs](https://next-auth.js.o

[2020-12-05 20:49] griffin610 commented on #916
Well that's what is confusing is that in your documentation is does have an id property.

`
export default (options) => {

  return {
    id: 'spotify',
    name: 'Spotify',
    type: 'oauth',
    version: '2.0',
    scope: 'user-read-email',
    params: { grant_type: 'authorization_code' },
    accessTokenUrl: 'https://accounts.spotify.com/api/token',
    authorizationUrl:
      'https://accounts

[2020-12-05 20:55] balazsorban44 commented on #916
So if you `console.log` profile, there is no profile id?

You can also try adding the `debug: true` configuration option to have a bit more information about what is returned from the Spotify API. This will log some debug information in your terminal.

[2020-12-05 20:59] balazsorban44 commented on #877
Since no response from the issue author, I am assuming @jachinte's comment helped. If not, please feel free to reopen/comment.

[2020-12-05 20:59] #877 closed

[2020-12-05 21:28] griffin610 commented on #916
So here's what I found out.

Here's my [...nexthauth] file
`
const options = {
  providers: [

    Providers.Spotify({
      scope: 'user-read-email playlist-modify-public playlist-modify-private',
      clientId: process.env.SPOTIFY_CLIENT_ID,
      clientSecret: process.env.SPOTIFY_CLIENT_SECRET,
      debug: true,
      profile: (profile) => {
        console.log('In profile');
        console.

[2020-12-06 02:01] iamchathu commented on #913
@balazsorban44 Updated the question.

[2020-12-06 08:39] balazsorban44 commented on #916
According to the Spotify docs: https://developer.spotify.com/documentation/general/guides/authorization-guide, you should be able to get an id from https://api.spotify.com/v1/me which IS configured. Getting information from the endpoint requires sending an access_token, and since you get the username and e-mail, it seems that you are actually getting the access_token as well.

At this point, I wou

[2020-12-06 09:18] balazsorban44 commented on #913
What do you mean by:

Right now, `next-auth` is only intended to be used with Next.js.

You can use the `accessToken` both client and server-side though if you use [API Routes](https://nextjs.org/docs/api-routes/introduction).

Please refer to the documentation:
To add an access token to the session:
- https://next-auth.js.org/configuration/callbacks#jwt-callback
- https://next-auth.js.org/configu

[2020-12-06 10:04] balazsorban44 commented on #419
@Zertz thanks for volunteering. I recently started to merge some of them into our new base branch `canary`. Hopefully later this month, I and @iaincollins will be able to produce a new unstable (alpha/canary/beta whatever) release to npm. When the docs have been updated and tests are in place for most of the things, we will be able to push these to stable at a later point as well.

So just ping me

[2020-12-06 13:50] mikestopcontinues commented on #902
Hey, what's your use case? I was just thinking about how to solve this problem for an app that needs to keep a user signed in across domains. I'm thinking maybe to use an iframe on `login.example.com` simply to store the session data, but not to handle sign-in. As an example, a user logs in on `admin.example.com`, window messaging sends the session data to the iframe, then when they visit `app.exa

[2020-12-06 13:52] mikestopcontinues commented on #580
Have you made any progress on this? I'm thinking of using NextAuth, and I have a very similar use case. What did you come up with?

[2020-12-06 13:53] mikestopcontinues commented on #439
@gagalago Did you go forward with the iframe idea? How did you get it set up? I'm thinking of going down the same path.

[2020-12-06 16:41] iamchathu commented on #913
I tried to use `useSession` hook but seems I'm not getting accessToken.

I tried to access accessToken as in

[code]

but session.accessToken is `undefined`.

[2020-12-06 17:17] balazsorban44 commented on #913
You have to forward it in the `jwt` and `session` callbacks, please look at the links.

[2020-12-06 18:51] ndom91 commented on #773
@ramiel #790 has been merged now! Sorry for the delay!

[2020-12-06 19:04] ndom91 commented on #718
Re: diacritics and other special latin characters, usually you want to set the db charset to utf-8. I did a bit of digging on what to do there with typeorm and came across this: https://github.com/typeorm/typeorm/issues/390

[2020-12-06 19:46] #891 closed

[2020-12-06 22:04] griffin610 commented on #916
Sorry it took a while to get back to you. I appreciate the help you are giving us. My friend shared the project with you on git the repository is onelistprototype. I am still getting the same object returned to me I had returned yesterday.

[2020-12-06 22:17] balazsorban44 commented on #916
Thanks. I'll have a look at this tomorrow.

[2020-12-06 23:20] bdesouza commented on #902
In our case, the app is loaded in an iframe by another application. Essentially a third party service that a customer can embed in their dashboard.

[2020-12-06 23:31] #798 closed

[2020-12-06 23:57] Dreched commented on #393
I think #837 will help.  To clarify, `/api/auth/session` will also get `id_token` set from signIn?

[2020-12-07 01:38] specialfae commented on #600
+1 for multi-tenant support

[2020-12-07 04:14] fandy opened #922 "Option to disable redirect on signin"
**Summary of proposed feature**
Would be great if there were an option in the email provider to disable the redirect to `/api/auth/verify-request?provider=email&type=email` on signin, while also knowing whether the verification succeeded or failed on the client.

**Purpose of proposed feature**
Better UX since you are not taken to a different page, and can instead show a state change.

**Potential

[2020-12-07 07:59] balazsorban44 commented on #393
What ends up in your session is up to you. If you want the `id_token` available in your session, you can look at the `jwt` and `session` callbacks: https://next-auth.js.org/configuration/callbacks

[2020-12-07 08:13] cahva commented on #863
Hi,

I don't know if this is the best way of doing this but it works for me. I set the callbackUrl to the form's action and do a redirect in the getServerSideProps section if the callbacklanguage url is different than current locale.

[code]

I wasted a lot of time trying to figure this out and deadline is upon me so if someone has better suggestions, I'm happy to hear them :)

[2020-12-07 08:30] balazsorban44 commented on #916
@griffin610 I sent you a suggestion to fix your problem. now both `accessToken` and `id` are available in your session.

You defined the `session` callback outside of the `callbacks` config option property

[2020-12-07 08:30] #916 closed

[2020-12-07 08:42] balazsorban44 commented on #922
Could you please fill out the feature request issue template?

[2020-12-07 09:06] marcobusemann commented on #638
For me this works very well.
This is the code i use for Auth0.

[code]
If you use Auth0 with third-party identity providers, you need to additionally add the ```federated``` flag as described here:
https://auth0.com/docs/api/authentication#logout

[2020-12-07 16:02] gagalago commented on #439
@mikestopcontinues I didn't go forward especially because silent authentication is deprecated because of new browser security measures https://auth0.com/docs/authorization/configure-silent-authentication. So it's better to use refresh token rotation. At the end, I used directly the library from Auth0 https://github.com/auth0/auth0-spa-js (you can find specific packages base on this generic one for

[2020-12-07 16:02] #439 closed

[2020-12-07 16:03] #440 closed

[2020-12-07 16:07] ZelimDamian commented on #396
This may very well be a very insecure way of handling it, but for my test setup this works perfectly:

[https://github.com/pgRITA/node-pgrita/issues/1#issue-734054474](https://github.com/pgRITA/node-pgrita/issues/1#issue-734054474)

[2020-12-07 16:19] mikestopcontinues commented on #439
Thanks! I really appreciate the help!

[2020-12-07 16:26] sbauch commented on #311
I can help with this, if folks wanting to integrate saml are willing to add another service to their stack

I maintain Osso, a SAML to OAuth bridge - https://github.com/enterprise-oss/osso

We'd be happy to create a PR here to add Osso as a service that consumes an Osso instance. Osso handles the saml config and authentication, and your nextjs site would consumer Osso as an OAuth 2.0 service in a

[2020-12-07 16:39] #863 closed

[2020-12-07 16:41] #501 closed

[2020-12-07 16:42] #913 closed

[2020-12-07 16:43] #745 closed

[2020-12-07 16:46] #553 closed

[2020-12-07 16:48] #799 closed

[2020-12-07 16:49] #776 closed

[2020-12-07 16:49] #849 closed

[2020-12-07 16:49] #804 closed

[2020-12-07 16:49] #805 closed

[2020-12-07 16:50] #878 closed

[2020-12-07 16:50] #885 closed

[2020-12-07 16:50] #889 closed

[2020-12-07 16:51] #899 closed

[2020-12-07 16:51] #826 closed

[2020-12-07 16:51] #904 closed

[2020-12-07 16:52] #769 closed

[2020-12-07 16:52] #778 closed

[2020-12-07 16:52] #871 closed

[2020-12-07 16:53] #727 closed

[2020-12-07 16:53] #901 closed

[2020-12-07 16:54] #840 closed

[2020-12-07 16:55] #576 closed

[2020-12-07 16:55] #755 closed

[2020-12-07 16:59] #848 closed

[2020-12-07 17:03] #859 closed

[2020-12-07 17:04] balazsorban44 commented on #655
Hi there! So good to here you would like to sponsor the project! Very appreciated!
I don't think we currently have anything set up. I am going to note it for discussion, and check back when I have some information.

[2020-12-07 17:04] #791 closed

[2020-12-07 17:05] #765 closed

[2020-12-07 17:05] #561 closed

[2020-12-07 17:05] #663 closed

[2020-12-07 17:06] #387 closed

[2020-12-07 17:06] #618 closed

[2020-12-07 17:07] #466 closed

[2020-12-07 17:08] #556 closed

[2020-12-07 17:09] #691 closed

[2020-12-07 17:10] #492 closed

[2020-12-07 17:10] #704 closed

[2020-12-07 17:10] #729 closed

[2020-12-07 17:10] #651 closed

[2020-12-07 17:10] #742 closed

[2020-12-07 17:11] #530 closed

[2020-12-07 17:11] #723 closed

[2020-12-07 17:11] #744 closed

[2020-12-07 17:12] #788 closed

[2020-12-07 17:12] #581 closed

[2020-12-07 17:12] #707 closed

[2020-12-07 17:13] #774 closed

[2020-12-07 17:13] #907 closed

[2020-12-07 17:14] #830 closed

[2020-12-07 17:14] #697 closed

[2020-12-07 17:14] #469 closed

[2020-12-07 17:14] #754 closed

[2020-12-07 17:15] #574 closed

[2020-12-07 17:15] #557 closed

[2020-12-07 17:16] #687 closed

[2020-12-07 17:17] #853 closed

[2020-12-07 17:17] #430 closed

[2020-12-07 17:17] #666 closed

[2020-12-07 17:18] #444 closed

[2020-12-07 17:18] #655 closed

[2020-12-07 17:18] #562 closed

[2020-12-07 17:18] #670 closed

[2020-12-07 17:19] #661 closed

[2020-12-07 17:19] #309 closed

[2020-12-07 17:20] balazsorban44 commented on #227
I think we have a good discussion about this internally. When we have a clear plan, we can create a ROADMAP.md for anyone to see. Closing this for now.

[2020-12-07 17:20] #227 closed

[2020-12-07 17:21] #851 closed

[2020-12-07 17:22] #536 closed

[2020-12-07 17:23] #545 closed

[2020-12-07 17:23] #902 closed

[2020-12-07 17:57] abcd-ca commented on #825
I figured it out! I was using the Email provider and the same thing was happening. Vercel apparently doesn't like JS uncaught exceptions. We were marking our callback as `async` and throwing from within it without a `catch`. We were doing this because the docs say we should do this (whether throw or Promise.reject(new Error) – either way, same result).

@dasveloper Your code should work if it's re

[2020-12-07 17:59] abcd-ca commented on #279
@jamespfarrell I wonder if your 502 error is related to the fix I found here, https://github.com/nextauthjs/next-auth/issues/825#issuecomment-740080483

[2020-12-07 19:38] balazsorban44 commented on #825
@abcd-ca @dasveloper
This should work:

[code]
Or if you really want an arrow function:
[code]

[2020-12-07 20:08] #825 closed

[2020-12-07 22:25] jrvidotti opened #926 "Synchronize MSSQL - email index"
When trying to synchronize with a MSSQL blank database, i got an error:

The operation failed because an index or statistics with name 'email' already exists on table 'users'
Query: CREATE UNIQUE INDEX "email" ON "users" ("email") WHERE email IS NOT NULL

I think there are no need to manually add unique index in mssqlTransform function:

  models.User.schema.indices.push({
    name: 'email',
    c

[2020-12-07 23:21] balazsorban44 opened #929 "Update CONTRIBUTING.md"
We should update the CONTRIBUTING document to reflect the new structure, as soon as we have a clear method for automated releases. (#920 will probably solve this after some discussions)

I quickly added a [PULL_REQUEST_TEMPLATE](https://raw.githubusercontent.com/nextauthjs/next-auth/canary/.github/PULL_REQUEST_TEMPLATE.md) with a note that most PRs should be done against canary, but it is not a fu

[2020-12-08 10:24] jayhoogle commented on #378
Hi @erik617, did you ever manage to expose your `id_token`? I'm trying to do the same thing but unable to see how I can get that raw data.

[2020-12-08 11:07] s-kris commented on #682
#708 was merged tentatively

[2020-12-08 11:07] #682 closed

[2020-12-08 17:07] balazsorban44 commented on #378
I think #837 would do what you need.

[2020-12-08 18:13] Ramos-Diego commented on #656
@iaincollins

Hey I'm having this same issue.

I am convinced that the latest version of iOS or Safari for iOS broke authentication with Google. I've tested this an ungodly amount of times. I ONLY get this error when I try to login from an iPhone. I tested Android, Windows and Chrome in MacOS. It's all good. I'm absolutely positively sure that my code and callback URL's, Client ID and Secret are c

[2020-12-08 20:20] jacobedawson opened #931 "Redirect callback example in docs - reversed logic in ternary"
I was struggling with getting a signIn / signOut redirect callback working. After checking the docs, specifically the Redirect Callback example at https://next-auth.js.org/configuration/callbacks I was not seeing the behaviour I expected (which was to redirect the user to /dashboard on login, and to / on logout).

It appears that the example in the docs is back to front:

[code]

Should be

[code]

[2020-12-08 20:25] balazsorban44 commented on #931
Hi there! The docs says:

Meaning that by default, only absolute URLs are handled, all others will go to the `baeUrl` or the homepage.

[2020-12-08 20:30] jayhoogle commented on #378
You're right - it's exactly what I need!

[2020-12-08 20:35] #931 closed

[2020-12-09 00:41] #764 closed

[2020-12-09 00:46] balazsorban44 commented on #762
Hi there! Could you please provide a reproduction repository with a link, so we can help you more easily?

Also, which versions of Next.js and next-auth are you using exactly?

[2020-12-09 00:49] avcohen opened #935 "Authorization Code Flow Example — Eg. Shopify Public App"
**Your question**
I'm having issue getting this linked up with Shopify as a custom provider. Does anyone have any examples using Shopify or an authorization code flow with custom provider like Shopify?

**What are you trying to do**
Setup Next-Auth with a public Shopify App.

**Feedback**
*Documentation refers to searching through [online documentation](https://next-auth.js.org), code comments and

[2020-12-09 06:41] anerror404 commented on #656
i am facing the same problem. It happens randomly, most of the time everything works just fine and sometime it's not. I am using the same config.

[2020-12-09 12:40] creteurlouis commented on #685
Did someone successfully get nextauth + identityserver4  to work ?

[2020-12-09 12:42] creteurlouis commented on #502
Same problem here.

"Sorry, there was an error : invalid_request
code challenge required"

Did someone find a solution to get nextauth to work with identityserver4 ?

[2020-12-09 12:42] TommySorensen commented on #685
Yes works fine, but never got the PKCE to work since its not supported in this package. Basically you just need to follow the examples in the documentation and you will have something to start with.

[2020-12-09 13:47] vgolemis opened #938 "Maintain the locale in the subpath when a redirect occurs"
**Your question**
How to maintain the locale intact using NextAuth.js and Sub-path Routing?

**What are you trying to do**
Next.js v10 introduced built-in support for internalization. I use this functionality for my application and specifically the [Sub-path Routing](https://nextjs.org/docs/advanced-features/i18n-routing#sub-path-routing). To give you an example, the default locale is English and

[2020-12-09 16:04] #935 closed

[2020-12-09 16:11] balazsorban44 commented on #502
We are using IDS4 without PKCE.

[2020-12-09 16:14] #938 closed

[2020-12-09 16:36] slumbering commented on #600
+1 for multi-tenant support

[2020-12-09 17:11] ustokan opened #939 "Discord Provider Profile: Set variables"
**Your question**
How to set custom variables

**What are you trying to do**
Set custom variables in Discord provider profile
![image](https://user-images.githubusercontent.com/55207603/101662209-468c4e80-3a5a-11eb-8acb-3cee7c6f4cd2.png)
![image](https://user-images.githubusercontent.com/55207603/101662264-560b9780-3a5a-11eb-8691-73b38dcc57c8.png)

[2020-12-09 17:13] #939 closed

[2020-12-09 18:25] mnlfischer commented on #552
I had this issue today twice and will check if I can create an repo to reproduce it.

[2020-12-09 18:39] creteurlouis commented on #502
I ripped out my hair trying to figure out how to make it work even without PKCE.
I don't understand what I am missing.
When I call my IDS4 from postman I get my access_token
[code]

But i'm getting error using next-auth
Here is what I have so far :
My .env
[code]

My [...nextauth.js]
[code]

My  credentials-signin.js
[code]

And my index
[code]

Do you see something I am doing wrong?
any help grea

[2020-12-09 18:39] creteurlouis commented on #685
I ripped out my hair trying to figure out how to make it work even without PKCE.
I don't understand what I am missing.
When I call my IDS4 from postman I get my access_token
[code]

But i'm getting error using next-auth
Here is what I have so far :
My .env
[code]

My [...nextauth.js]
[code]

My  credentials-signin.js
[code]

And my index
[code]

Do you see something I am doing wrong?
any help grea

[2020-12-09 20:16] balazsorban44 commented on #685
@IkeLutra your insights are welcome on #941!

@creteurlouis I recommend you create a separate question in the [Discussions](https://github.com/nextauthjs/next-auth/discussions), or an issue with a public reproduction repository. This would accelerate the process of helping you! 🙂

[2020-12-09 20:25] nick-myers-dt commented on #685
We're at a decisive juncture on our project, and PKCE support is a deciding factor for us.  We'd like to use next-auth in combination with Okta, using PKCE.  I wondered whether the team or community had a sense of whether the linked PR (#941) was likely to make it into a release 'soon' (weeks) or not?   We'd also be happy to test and contribute in any way we can.

[2020-12-09 20:31] balazsorban44 commented on #685
@nick-myers-dt If you want to test it out *right now*, I think you could clone the branch `feature/pkce` in your projects `node_modules`, cd into it, `npm install`, and `npm build`.

We are aiming for a `canary` (unstable) release this month, but cannot promise this PR will make it. I JUST started it, and there are some things we need to figure out. Feel free to try the above-mentioned method, and

[2020-12-09 22:52] awey95 opened #942 "findOne() is deprecated in Prisma v2.13.0"
**Describe the bug**
`findOne` is deprecated in v2.13.0 of Prisma. Needs to be updated to use `.findUnique()`

**Steps to reproduce**
use `findOne()` you'll encounter the warning.

`warn(prisma)  findOne is deprecated. Please use findUnique instead.`

[2020-12-09 22:59] balazsorban44 commented on #942
Hi there! Thanks for raising an issue. This has been fixed in #881.

We hope to get a `canary` release out in December with all the recent changes. Keep in mind, there might be breaking changes until we release it to stable on npm. (We need to add some tests before that)

[2020-12-09 22:59] #942 closed

[2020-12-09 23:07] balazsorban44 commented on #844
Hi there! A reproduction repo with a link would be extremely helpful to debug your issue. 🙂

In your `getServerSideProps`, you should return the `session` in `props`.
Please see the [Next.js docs](https://nextjs.org/docs/basic-features/data-fetching#getserversideprops-server-side-rendering).

Then in  your `_app`, you should pass `pageProps.session` to the `Provider` (`{ Provider } from 'next-auth

[2020-12-09 23:13] #487 closed

[2020-12-09 23:21] balazsorban44 commented on #844
So I found something, which might be a bug on our end:

https://github.com/nextauthjs/next-auth/blob/cec46b0d67f8c2e2e7462da68db3209b62eff02b/src/client/index.js#L221

The `useEffect` hook has no dependency array, which makes it effectively worthless, and could be the reason that the /session API is called several times.

Also, there is something weird in the `useSession` implementation. It takes

[2020-12-10 00:37] balazsorban44 commented on #929
If someone would like to improve our PULL_REQUEST_TEMPLATE, please do!

[2020-12-10 07:45] wildorwilliamgit opened #944 "When clicking sign in button, How can I check if the username and password is valid or not without redirecting the sign in page from modal?"
When clicking sign in button, How can I check if the username and password is valid or not without redirecting the sign in page from modal?

Thanks for your efforts.
After searching the auth features related to next.js, I think this is the best and complete auth library.
Current I had a problem working with this next-auth library in my frontend written in next.js.
I know this next-auth library mak

[2020-12-10 07:49] #944 closed

[2020-12-10 10:40] marco910 opened #946 "Sign out from NextAuth and OAuth provider"
**Your question**
I'm using NextAuth for logging in to my web app with AWS Cognito hosted UI. The sign in process and authentication is working well but when I'm using the NextAuth `signOut()` function the user is only signed out from the web app - not from Cognito. If now another user wants to sign in on the same machine, he is signed in with the Cognito account of the previous user.
How can I si

[2020-12-10 12:29] #266 closed

[2020-12-10 12:54] nabiltkarim commented on #834
Did anyone manage to solve this? Not being able to pass context in providers for typescript.

[2020-12-10 13:29] balazsorban44 commented on #946
Hi there! There is already an issue opened about this here: #836 Going to close this one in favor of the already opened one! If you have any comments, please go to #836.

Thank you!

[2020-12-10 13:29] #946 closed

[2020-12-10 15:26] fromi opened #947 "getSession on server side: calling the API is a huge design issue"
**Describe the bug**
[The code for `getSession`, on server side, is calling the API](https://github.com/nextauthjs/next-auth/blob/e031591468390936d816a073007571b23964b5d3/src/client/index.js#L107)

This a bad idea for a lot of reasons:
- maybe the server is not allowed to make such requests
- maybe the API is not available (at startup for instance?)
- it increases the process and bandwidth usage f

[2020-12-10 16:59] mathewtrivett commented on #676
@iaincollins I'm having a similar issue here. My next application is deployed behind a corporate proxy. I learned that node doesn't recognise `http_proxy` or `https_proxy` environment variables.

I need a way for requests made to Google by next-auth to go via the proxy.

@archywillhe Could you share how you are starting the next server using proxychains? Are you using a custom server for next? Are

[2020-12-10 17:19] balazsorban44 commented on #947
Hi there! Do you maybe have a suggestion for improvement? If so, we welcome PRs 😊

[2020-12-11 03:34] JoshTheDeveloperr opened #948 "Discord OAuth not working"
**Describe the bug**
I added the Discord provider and I double checked the client secret and id but when I click on the Discord button as a sign in option I get this error [link to the error](https://discord.com/oauth2/authorize?response_type=code&prompt=consent&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fapi%2Fauth%2Fcallback%2Fdiscord&scope=identify%20email&state=e34ce3c11a92ed3b43f7f592aee1d79

[2020-12-11 07:51] #948 closed

[2020-12-11 08:19] fromi commented on #947
I bet you do :) Unfortunately I have 0 revenus as long as my personal projet does not land (https://game-park.com/), so for now I cannot afford to spend a couple of weeks on another project... but I hope I can do it later on.

Some thoughts though:
- in order to be able to keep a single function `getSession` that can be use on both side, we need a way to use runtime imports in the framework (using

[2020-12-11 08:23] ChuckJonas opened #949 "CSRF token gets inconsistently invalidated if I mutate the provider oAuth URL's"
**Your question**
Why is my CSRF token getting invalidated (inconsistently) if I mutate the provider oAuth URL's?

**What are you trying to do**
I've tried my best to debug what is actually going on, but I'm stumped.

In order to try and support Salesforce, for which a single oAuth app can be used for different tenants, I've attempted to override the base oAuth urls by passing a parameter into the

[2020-12-11 08:57] ChuckJonas commented on #949
🤦 ... Not sure how I missed this on my first scan of the code but it's right there... The secret is created by hashing the `Options`.

Doesn't seem like this "secret" option is documented. Throws a type error when I set it, but everything is at least working now.

https://github.com/nextauthjs/next-auth/blob/canary/src/server/index.js#L66

[2020-12-11 13:25] carlbarrdahl opened #950 "client_secret being passed in post data in Basic auth"
**Describe the bug**
We're trying to integrate Signicat OpenID with Basic auth and get this message:
[code]

This is because `client_secret` is sent as post data here, even if its `null` or `undefined`:
https://github.com/nextauthjs/next-auth/blob/9dbd372f08008463292576fbea8989acef506be3/src/server/lib/oauth/callback.js#L225

With empty client secret (note the: `&client_secret=`):
[code]
Here are

[2020-12-11 14:10] balazsorban44 commented on #949
You can find the documentation for the `secret` option here: https://next-auth.js.org/configuration/options#secret

[2020-12-11 14:10] #949 closed

[2020-12-11 14:46] balazsorban44 commented on #947
Please keep in mind that we are an open source organization, working on this project in our free time as well. We solely rely on the community to help us out where they can.

I am going to take up this topic the next time I chat with @iaincollins to figure out what we can do here. Thanks for the feedback, it's really helpful!

Regarding TypeScript, again we welcome eager community members to help

[2020-12-11 20:06] Ramos-Diego commented on #656
@anerror404 Are you using [PWA](https://github.com/vercel/next.js/tree/canary/examples/progressive-web-app) with your app? I think that's what causing the issue. [See here](https://github.com/nextauthjs/next-auth/issues/783).

[2020-12-11 21:01] returndiego opened #952 "next-auth fails in iOS when using PWA"
How can I make my app a PWA and still be able to use next-auth in iOS?

When an application is a PWA next-auth returns `[next-auth][error][callback_oauth_error] Error: Invalid state returned from oAuth provider` when used from an iOS device as seen in #783 and #656. It is important to mention that next-auth works as intended with any other OS. I tested Android, Windows, MacOS and iOS.

[code]

**R

[2020-12-11 21:02] balazsorban44 commented on #751
I believe this is an issue with the documentation. We should probably update it to reflect the real behavior.

Or do the opposite and make the code do what the docs says.

[2020-12-11 21:30] balazsorban44 commented on #950
Hi there!

Just out of curiosity, since I'm not familiar with Signicat, have you actually tried to just provide a secret and see if sending it in post data would work?

Is this the documentation of what you are referring to?: https://developer.signicat.com/documentation/authentication/protocols/openid-connect/endpoints/

I think we have to see if we want to/need to expand the public facing API as

[2020-12-11 23:13] fedeberon commented on #393
`let IdToken = async (refreshToken) => {
    var requestOptions = {
        method: 'POST',
        redirect: 'follow'
    };

    const response = await fetch(`https://oauth2.googleapis.com/token?refresh_token=${refreshToken}&client_id=[yout-client-id]&client_secret=[your-client-secret]&grant_type=refresh_token&Content-Type=application/x-www-form-urlencoded`, requestOptions);
    let result= awai

[2020-12-12 06:19] anerror404 commented on #656
i am not using PWA. It works perfectly 95% of time i guess. Suddenly stop working when user try to login with facebook or google. Even sometime it works in one device and doesn't in another device at the same time. Sometimes i get this error when user click on the social login icon, sometimes when user clicks on the social login icon, choose the user account.

It's causing me  serious problem as i

[2020-12-12 10:05] balazsorban44 commented on #613
hi there! I am going to discuss this with Iain the next time we speak.

[2020-12-12 11:59] balazsorban44 commented on #393
@fedeberon so when using a refresh token, you will actually receive a new ID token as well? It never occurred to me, I'll check this out, thanks!

[2020-12-12 12:46] #647 closed

[2020-12-12 12:46] #648 closed

[2020-12-12 12:46] #572 closed

[2020-12-12 12:46] #156 closed

[2020-12-12 12:46] #568 closed

[2020-12-12 12:46] #681 closed

[2020-12-12 12:46] #675 closed

[2020-12-12 12:46] #696 closed

[2020-12-12 12:46] #662 closed

[2020-12-12 12:46] #699 closed

[2020-12-12 12:46] #614 closed

[2020-12-12 12:46] #645 closed

[2020-12-12 12:46] #672 closed

[2020-12-12 12:46] #499 closed

[2020-12-12 12:46] #646 closed

[2020-12-12 13:46] #608 closed

[2020-12-12 13:46] #602 closed

[2020-12-12 13:46] #583 closed

[2020-12-12 13:46] #595 closed

[2020-12-12 13:46] #570 closed

[2020-12-12 13:46] #578 closed

[2020-12-12 13:46] #456 closed

[2020-12-12 13:46] #569 closed

[2020-12-12 13:46] #438 closed

[2020-12-12 13:46] #428 closed

[2020-12-12 13:46] #421 closed

[2020-12-12 13:46] #558 closed

[2020-12-12 13:46] #4 closed

[2020-12-12 15:46] #287 closed

[2020-12-12 15:46] #143 closed

[2020-12-12 15:46] #159 closed

[2020-12-12 15:46] #141 closed

[2020-12-12 15:46] #540 closed

[2020-12-12 15:46] #538 closed

[2020-12-12 15:46] #537 closed

[2020-12-12 15:46] #527 closed

[2020-12-12 15:46] #520 closed

[2020-12-12 15:46] #462 closed

[2020-12-12 15:46] #470 closed

[2020-12-12 15:46] #448 closed

[2020-12-12 15:46] #445 closed

[2020-12-12 15:46] #420 closed

[2020-12-12 15:46] #403 closed

[2020-12-12 15:46] #373 closed

[2020-12-12 15:46] #390 closed

[2020-12-12 15:46] #327 closed

[2020-12-12 15:46] #341 closed

[2020-12-12 15:46] #310 closed

[2020-12-12 15:46] #447 closed

[2020-12-12 16:40] #573 closed

[2020-12-13 05:22] jaekunchoi opened #954 "How to ensure auth with axios in custom backend with credentials provider"
**Your question**
I currently have existing Laravel backend which returns JWT token and setting this under signin callback with `data.accessToken = data.access.token`. I can also retrieve token and send to private endpoint with something like:

[code]

but this is only available within React hooks but I need to send this and I have axios call in another file with below code:

[code]

How can I get

[2020-12-13 09:44] kripod commented on #772
This isn’t stale.

[2020-12-13 09:47] balazsorban44 commented on #772
Hi there, would you be able to/be interested in opening a PR for this? 🙂

[2020-12-13 09:50] kripod commented on #772
Thank you for asking. While I’d be inetersted in making this a reality, I’m not sure what the header’s value should be for spec compliance.

[2020-12-13 09:56] #954 closed

[2020-12-13 15:17] fadeojo commented on #638
[Log Users Out of Identity Providers](https://auth0.com/docs/logout/log-users-out-of-idps)
[code]

[2020-12-13 16:23] joeltg commented on #844
The file `node_modules/next-auth/dist/client.js` is minified or something, so I'm not _100%_ sure that I'm doing it right, but as far as I can tell, adding the empty dependency array doesn't change anything in the behavior of the server-side-rendered page.

[2020-12-13 21:01] balazsorban44 commented on #844
thanks, I'll keep digging then

[2020-12-13 22:11] sebastianplsim commented on #861
So - it's not pretty, but this works for me. FYI I'm adding a `username` - not `telephone`.

Let me know if you know a way to tidy this up a little.

`User.ts`
[code]

[2020-12-14 05:19] jackmerrill opened #955 "Expose accessToken from accounts database"
**Summary of proposed feature**
I'm using the Discord OAuth sign in, and would like to interface with the API using the [Discord-OAuth2](https://npmjs.org/package/discord-oauth2) package on NPM, but I can't get the `accessToken` that's in the `accounts` database.

**Purpose of proposed feature**
Allow people to interface with the APIs that they use with this package.

**Potential problems**
None t

[2020-12-14 07:06] liuxiaofeng1981 commented on #378
I also want to get the idToken using jwt callback.

    callbacks: {
      jwt: async (token, user, account, profile, isNewUser) => {
        const isSignIn = !!user
        if (isSignIn) {
          console.log('================= user =============', user)
          console.log('================= account =============', account)
          console.log('================= profile =============', pro

[2020-12-14 12:43] martinatwainobicom commented on #952
I had a similiar issue with the GitHub provider on iOS.
The solution was to set state to false in the GitHub provider configuration.
However, please note that I am not aware of the security issues introduced by setting state to false.

`Providers.GitHub({
	clientId: process.env.GITHUB_ID,
	clientSecret: process.env.GITHUB_SECRET,
	state: false
})`

[2020-12-14 13:57] carlbarrdahl commented on #950
Hi @balazsorban44. Thanks for your response.

Yes when sending the `client_secret` Signicat throws me the first error (Your client is configured to authenticate using CLIENT_SECRET_BASIC).

I was able to get around this by monkeypatching querystring to filter out empty keys:
[code]

However, I got stuck again when trying to parse the profileData:
https://github.com/nextauthjs/next-auth/blob/9dbd37

[2020-12-14 14:07] eak12913 commented on #751
@balazsorban44, it _would_ be convenient to be able to return a set of properties that get appended to the JWT. Right now, I get around by appending a new property to the `req` object in my `signIn` callback and then in the `JWT` callback, I check the `req` object and, if present, copy that property to the JWT.

[2020-12-14 14:22] balazsorban44 commented on #751
All right, I guess it should not be hard to forward the response from line 71 to the jwt callback. We only check if the response is explicitly false or an error anyway. I'm going to make a PR for this, and discuss with the others. I'll keep you updated

[2020-12-14 14:41] aaronfulkerson opened #956 "Outdated peerDependencies"
**Describe the bug**
Installing the package using NPM v7 causes installation to fail unless the --force flag is used.

**Steps to reproduce**
Create a new Next.js project and attempt to install next-auth.

**Expected behavior**
No

**Screenshots or error logs**
[code]

**Additional context**
Add any other context about the problem here.

**Feedback**
*Documentation refers to searching through [onl

[2020-12-14 18:02] balazsorban44 commented on #950
Hmm, if you have the time and interest, I think you could try create the changes and propose it in a PR, and we can discuss further what we could incorporate into the core package. I think if it is general enough solution that we can back up with links to official OAuth and/or OIDC specs and doesn't alter the user facing api much (or at all), I am pretty sure we could accept such a change.

[2020-12-14 18:10] balazsorban44 commented on #956
Thank you! This looks legit. Our `canary` branch lists react 17 as a possible peer dependency version. We hope to release it to npm this month.

[2020-12-14 18:12] Ramos-Diego commented on #952
That worked, thanks! The state seems to protect against [CSRF attacks](https://auth0.com/docs/protocols/state-parameters). I don't know much about this, but I will come back if I find a safer solution. Honestly, I just want to yell at Apple for having the only browser that causes this issue.

[2020-12-14 18:28] Ramos-Diego commented on #656
@anerror404 in #952 @martinatwainobicom provided a solution.

[code]
It worked for me, but apparently, this opens a [CSRF attacks](https://auth0.com/docs/protocols/state-parameters) vulnerability. I cannot advice you to use it because I don't know the implications of this solution.

This is what the [documentation](https://next-auth.js.org/getting-started/rest-api#get-apiauthcallbackprovider) says

[2020-12-14 19:38] leopku commented on #756
+1

Need this feature too.

But my project was little different.

My project was mixed by nextjs+next-auth(with custom oidc provider)+golang+keycloak.

* Original working process:
`/auth/openid-connect/authorize`(golang) -->  keycloak --> `/auth/openid-connect/access_token`(golang)

* After adding next-auth, process was broken at the last step:
`/api/auth/signin`(next-auth) --> `/auth/openid-conne

[2020-12-14 19:55] BrandonCopley commented on #908
I'm seeing lots of errors from the docs, I just think the docs may be outdated with google provider? I no longer get verified email from google oauth.

[2020-12-14 21:46] BrandonCopley commented on #908
@balazsorban44 are you seeing errors now as well? I'm getting some really funky errors today from nextAuth.js

[2020-12-14 21:48] balazsorban44 commented on #908
Don't know if it's coincidence, might be related to Google outages today?: https://www.bbc.com/news/technology-55299779

[2020-12-14 21:58] BrandonCopley commented on #908
Perhaps.
--
[image: Giftnix]

Brandon Copley

Founder & CEO

t: 512.784.6060 <(512)%20784-6060>

e: copley.brandon@gmail.com

On Mon, Dec 14, 2020 at 3:48 PM Balázs Orbán <notifications@github.com>
wrote:

[2020-12-15 04:54] guiaramos commented on #699
This is my implementation with @glenames strategy:

**Frontend**

[...nextauth].ts
[code]

signInCallback.ts
[code]

**Backend**

signInCallback.ts
[code]

[2020-12-15 14:24] fandy commented on #922
@balazsorban44 done

[2020-12-15 14:58] durdenx commented on #414
Is it possible to use a verification code instead of a magic link for passwordless auth ? If users use their phone to open the magic link, they won't be logged in on PC.

[2020-12-16 06:31] foaadnami commented on #956
related to [814](https://github.com/nextauthjs/next-auth/issues/814) [819](https://github.com/nextauthjs/next-auth/pull/819)

[2020-12-16 10:41] ctrngk opened #962 "registration, role permission, authorization"
Hi Nexter,

I see that NextAuth.js is designed to avoid the need to store passwords for user accounts. This may infer that everyone will be able to sign in, without registration.

However, I want to limit the number of user registration in alpha and beta version. Alternatively, I want to maintain a list of "premium" users with permission to some end points.

Regards,

[2020-12-16 11:30] chaudharykiran opened #963 "TypeError: Cannot read property 'code' of undefined"
**Describe the bug**
I have [...nextauth].tsx in `api/auth` folder but when I start my application I am always getting
TypeError: Cannot read property 'code' of undefined

[2020-12-16 12:03] chaudharykiran commented on #963
fixed

[2020-12-16 12:03] #963 closed

[2020-12-16 12:49] androa commented on #900
I'm unable to replicate this behaviour. The app is served with a basepath. I set NEXTAUTH_URL and this seems to work well on the client-side. But when I use the `signIn`-method, it produces a URL that expects the app to be on the root path.

I had to set the `basePath` through the `options` attribute on the Provider in `_app.js`. I can't quite see from the code in `client/index.js` how the behavio

[2020-12-16 15:06] #962 closed

[2020-12-16 18:21] marcelmusiol commented on #532
A solution could be to check in __app.js_ if the **router.asPath** ends with a "#" and push to the **router.pathname**

__app.js_
[code]

Works for me for now but haven't tested thoroughly...

[2020-12-16 23:53] kripod commented on #772
An example for the header in question looks as follows, according to the RFC:

[code]

I’m not sure that a 401 status code is valid for the case of NextAuth, as new a request *to the forbidden resource’s endpoint* cannot solve the authentication problem at all. The documentation should probably suggest using 403 instead, for proper semantics.

[2020-12-17 10:17] dextermb opened #966 "Adding custom in-flight data to the session"
**Your question**
Is it possible to add extra data to the current session while in-flight? Rather than using a separate session just for the organisation.

**What are you trying to do**
After signing in with a user I'm looking to add custom data to the session.

* Sign in with SSO (GitHub)
* Select a team/organization
* **(Add organisation to the session)**
* Use organisation to redirect and limit

[2020-12-17 19:19] #966 closed

[2020-12-17 19:36] #715 closed

[2020-12-18 07:30] carlbarrdahl commented on #950
After playing around with the code base and with [panva/node-openid-client](https://github.com/panva/node-openid-client), I think perhaps this could be a solution:

- Provide a way to add a private keystore to provider config
- Set `provider.idToken` to an object with encryption algorithms
- Decrypt idToken if keystore and algorithms are present

Here is the relevant code in panva/node-openid
http

[2020-12-18 08:56] tesharp commented on #563
You can also add it to the session in callback. Session already have a property for accessToken. Then it is available client side if you need to send to some apis

[code]

[2020-12-18 09:01] s-kris opened #967 "Error: oauthSignin with twitter"
**Your question**

I'm getting the following error when logging in with twitter.

[code]
**What are you trying to do**

I setup twitter app Id, secret correctly and requested for email address as well.
Looked at similar issues: https://github.com/nextauthjs/next-auth/issues/232 https://github.com/nextauthjs/next-auth/issues/128
Any help on this?
Thank you :)

**Reproduction**

**Feedback**
*Docume

[2020-12-18 09:59] #967 closed

[2020-12-18 10:02] #563 closed

[2020-12-18 11:07] ChristoRibeiro commented on #683
@iaincollins I get the same issue and seems to be related with Prisma adapter. If I remove it the adapter, everything works great without callback.

[2020-12-18 16:25] ChristoRibeiro commented on #683
The issue come up If you have both the `database` and `adapter` with Prisma. Keep the `adapter` and remove the `database` and no need of callbacks anymore:

[code]

Maybe the documentation should be more clear with these 2 options together @iaincollins?

[2020-12-18 19:18] Marujah commented on #834
I end up with using my own solution since this won't be maintained

[2020-12-18 20:22] jasonkuhrt opened #969 "Dynamic NEXTAUTH_URL"
**Summary of proposed feature**

Allow callback URL (`NEXTAUTH_URL`) to be set dynamically

**Purpose of proposed feature**
A clear and concise description description of why this feature is necessary and what problems it solves.

A static `NEXTAUTH_URL` is problematic for preview deployments like that offered by Vercel or any other platform/setup with similar concept.

It is problematic because a

[2020-12-18 21:46] balazsorban44 commented on #834
Hi @Marujah what do you mean by this not being maintained? As of right now, TypeScript is a community effort for `next-auth` at https://github.com/DefinitelyTyped/DefinitelyTyped

Please head over there with TypeScript related issues. That said, we are working on built-in TypeScript support, any PRs implementing it holistically or partially is greatly appreciated!

[2020-12-18 22:20] ChristoRibeiro commented on #683
[This line](https://github.com/nextauthjs/next-auth/blob/v3.1.0/src/server/lib/callback-handler.js#L108) throw an error:

[code]

[2020-12-18 23:00] ChristoRibeiro commented on #683
I found the error.

The function [getUserByProviderAccountId](https://github.com/nextauthjs/next-auth/blob/85b859231c6948d68749d60d861d65bcbcede6c2/src/adapters/prisma/index.js#L81) from the Prisma adapter return a row from the Account table instead of the User table.

Based on the wrong data, the JWT payload data will not be filled correctly. The [`user` variable](https://github.com/nextauthjs/ne

[2020-12-19 05:09] imgregduh commented on #833
This worked for me

[code]

[code]

`npm i typeorm@0.2.28`

[2020-12-19 06:13] anerror404 opened #970 "Why i am getting this error? - JWTMalformed: JWTs must have three components."
**Your question**
I am getting JWTMalformed: JWTs must have three components and JWSVerificationFailed: signature verification failed error after i started credentials login. From credential authorise function i am returning user object consisting name, email and image. My nextauth config:

`
session: {
    jwt: true,
  },
  jwt: {
    signingKey:
      '{"kty":"oct","kid":"","alg":"HS512","k":""}

[2020-12-19 08:10] #970 closed

[2020-12-19 09:35] ChristoRibeiro commented on #683
in the [Prisma adapter](        return prisma[Account].findOne({ where: { compoundId: getCompoundId(providerId, providerAccountId) } })), this should fix the issue:

[code]

[2020-12-19 12:35] balazsorban44 commented on #683
Hi, @ChristoRibeiro could you please create a PR with your recommended fix so 8ta easier to evaluate? Thank you!

[2020-12-19 15:07] ChristoRibeiro commented on #683
The issue doesn't appear anymore on [the canary branch](https://github.com/nextauthjs/next-auth/blob/28ce71d99e2e2ad72896e854bc00a8ad470843e1/src/adapters/prisma/index.js#L81) and the deprecated prisma method `findOne` has been updated to `findUnique`. I'm not sur a PR is required. Do you plan to make a release soon @balazsorban44?

[2020-12-19 15:08] balazsorban44 commented on #683
Yes, hopefully this month.

[2020-12-19 16:12] #761 closed

[2020-12-19 22:17] #770 closed

[2020-12-20 03:04] liuxiaofeng1981 opened #973 "Is there a way to use NextAuth just for handling cookie session token management etc without using provider?"
**Your question**

I wonder is there a way to use NextAuth just for handling cookie session token management etc without using a provider?

Say I have a custom service that my app uses to handle authentication with an OAuth provider such as Auth0 or sth else, my app directs user to there and does authentication and redirect back with access & refresh token. I just want to skip the part of implemen

[2020-12-20 12:43] #973 closed

[2020-12-20 13:26] philiparvidsson commented on #552
I'm getting this seemingly random as well. It starts happening, then nothing is working because of it for a few minutes. Then it disappears again, to come back a few hours later.

[2020-12-20 17:17] nyoung697 commented on #956
Is there a workaround for this currently?  I tried installing the canary branch but then got another error:

`error - ./node_modules/next-auth/client.js:1:0
Module not found: Can't resolve './dist/client'`

create-next-app is using React 17.

[2020-12-20 21:08] alex-cory commented on #709
keep alive

[2020-12-20 21:10] naillizard commented on #955
Take a look at TypeORM [query builder](https://typeorm.io/#/select-query-builder/joining-relations).

[2020-12-21 03:14] jacklimwenjie opened #974 "End Session on Browser Close"
**Summary of proposed feature**
Expose an option to _not_ persist a session, which the session will be terminated on browser close.

**Purpose of proposed feature**
Some system has a "remember me" or "keep me logged in" option to specify if a session should be persisted to avoid a scenario such as forgot to log out from a public computer.

**Detail about proposed feature**
Make the `session` optio

[2020-12-21 12:12] tesharp commented on #429
@BrendyRyan I ended up using callbacks and decoding the jwt to get the roles. This way it first adds it to the token and then to the session so it is accessible on frontend. (I also needed accesstoken so it is done same way)

[code]

[2020-12-21 14:17] #671 closed

[2020-12-21 16:40] ericvrp opened #975 "Inconsistent useSessions() loading state"
**Describe the bug**
loading state of useSession() not working consistently without Provider wrapper component

**Steps to reproduce**
Remove usage of Provider and have a component and it's child call useSession() and the parent eventually gets loading=false while the child keeps having loading=true.

**Expected behavior**
Slower but consistent behaviour with or without Provider

[2020-12-21 18:48] balazsorban44 commented on #975
Hi there! Could you maybe create a minimal reproduction repo of your problem?

[2020-12-22 03:26] xiaooye opened #977 "Pull request for Typescript Example?"
**Your question**
I saw the empty typescript example on there so I copied the original next-auth-example and added typescript on it. But then I checked the pull request and found someone have made a pull request and have not been approved for months. Do you want more features or a more complexed example? I would be glad to help.

**What are you trying to do**
Add Typescript for next-auth

[2020-12-22 15:04] chaudharykiran opened #980 "How to pass dynamic authorization callback url in Github provider?"
How to pass dynamic authorization callback url in Github provider?

[2020-12-22 20:40] dcantatore opened #983 "Build options object based on configuration file at run/build time"
**Your question**
How can I build an options.providers array in real time?

**What are you trying to do**
I have a multi tenant setup and I would like to be able to build the options based on an object that has an array I would iterate over and push into the providers.options array. This works when the client side requests providers but the api part of the [...nextAuth] file says:

[code]
And when

[2020-12-22 20:46] KATT opened #984 "GET `/api/auth/signin/:provider` to redirect to sign in flow of provider?"
**Summary of proposed feature**

Reference: https://next-auth.js.org/getting-started/rest-api

Would be nice if **GET** `/api/auth/signin/:provider` would simply redirect to the provider so one could do a simple a link like `<a href="/api/auth/signin/auth0">Sign in with Auth0</a>` without relying on an `onClick`-handler.

**Purpose of proposed feature**
Simpler DX

**Detail about proposed feature*

[2020-12-22 20:54] KATT commented on #984
Oh, I realise it's like this because of the csrf-token..

[2020-12-22 20:55] #984 closed

[2020-12-23 01:36] mikatpt opened #985 "A little bit confused about using sessions globally!"
I've been using the _app level Provider to pass sessions down to my components, and had some questions-
Within getServerSideProps, I took a look at the passed in props and saw that **session** is attached to the pageProps, such that I can do this in my pages:
[code]

Is this an acceptable way to pass sessions down, or should I still use the below await pattern?

[code]

I realize that getSession()

[2020-12-23 16:34] Robbilie opened #987 "Handle online state and force update session accordingly"
**Summary of proposed feature**
Currently when the navigator.onLine state changes to offline the session object gets emptied because the session network calls fail. This per se is not an issue, it would be nice though if the session object would get updated automatically once network becomes available again.
Sidenote: When changing the network state in the network tab of chrome, setting it to onli

[2020-12-23 17:33] valentijnnieman commented on #829
Having the same issue! It seems that changing `User` to `user` here under `models`:
[code]
  Does fix it, although that does break things in `dev`. Perhaps a possible work-around for now would be to set this to `user` in production and `User` in development?

[2020-12-23 18:09] Robbilie commented on #987
i guess you can do this:
[code]

[2020-12-23 18:13] balazsorban44 commented on #977
The TypeScript support for `next-auth` is a community effort right now, the types are at DefinitelyTyped. Although adding TS support to `next-auth` itself is a very welcome addition! Feel free to clone the existing PR, or create your own.

[2020-12-23 18:13] #977 closed

[2020-12-23 18:14] #985 closed

[2020-12-23 18:14] #983 closed

[2020-12-23 18:18] #980 closed

[2020-12-23 19:09] valentijnnieman commented on #829
So just to verify, this is what I'm seeing when debugging – the first screenshot is when running in dev
![Screen Shot 2020-12-23 at 1 51 15 PM](https://user-images.githubusercontent.com/6509622/103029662-472be700-4528-11eb-9cbe-f4209c8d003e.png)

and the second screenshot below is when running in production (`npm run start`).
![Screen Shot 2020-12-23 at 1 50 08 PM](https://user-images.githubuserco

[2020-12-23 19:29] s-kris opened #988 "Module not found: Can't resolve <name>"
**Your question**

Are typeorm warnings during build time caused by next-auth?

**What are you trying to do**
I'm getting the following warnings when I try to build my nextjs project. I used postgres connection for db connection.

[code]

**Reproduction**

**Feedback**
*Documentation refers to searching through [online documentation](https://next-auth.js.org), code comments and issue history. The

[2020-12-23 20:15] ValentinH commented on #591
This is still relevant :)

[2020-12-24 02:38] danyel117 opened #989 "Is it possible to avoid page reloading when using custom credentials?"
**Your question**
Is it possible to avoid page reloading when using custom credentials? (like an SPA behaviour)

**What are you trying to do**
I'm using custom credentials because I'm using a customer's database which has its own api, and I've designed my own login page. When I hit login after entering credentials, I handle the authentication with my cusotmer's api inside the [...nextauth].js file

[2020-12-24 10:22] liuxiaofeng1981 commented on #342
@iaincollins I'm experiencing I believe is the same issue where I use AWS Cognito and need to persist not only access token but also refresh token in the jwt callback. It works fine. I handle access token rotation inside the jwt callback, when it's expired use the persisted refresh token to get new access token. Except, I found every time I first time authenticated with Cognito, it gets oauth toke

[2020-12-24 10:58] dimaishere commented on #829
I'm having the same issue. Any updates?

[2020-12-24 14:19] tobiasriemenschneider commented on #659
@kevinmachstudio I think that this is a kind on "Mongo standard behaviour".

[2020-12-24 15:04] valentijnnieman commented on #829
What I'm doing now as a temporary patch is to have a session callback that gets the user from the db with the connection we already had set up:
[code]
    Your mileage may vary of course, but perhaps it's of some use!

[2020-12-24 21:38] termoxin commented on #620
Hey, guys! The article helped me https://flaviocopes.com/nextjs-cookies/

[2020-12-24 22:06] junaid33 commented on #741
@Miloshinjo Hey I was facing a similar issue with Github and also using Prisma. Were you able to fix it?

[2020-12-24 22:29] Miloshinjo commented on #741
Yes, but you won't like it. I copied the entire library into my project folder and then made a fix manually in their code. Then I loaded the lib from my src instead od node_modules. I can post the change I made in their code that did the trick.

[2020-12-25 12:10] Edw1nLee opened #992 "using different route for api/auth/[...nextauth]"
**Your question**

For the project need, I want use different auth route.

**What are you trying to do**

I deploy two containers for frontend and backend, and the backend container already took the /api route, thus, nextauth api route in frontend needs to rewrite to other path, when I change NEXTAUTH_URL to "http://example.com/custompath/api/auth" , it's just got error ,

**Reproduction**

**Feed

[2020-12-25 13:16] tiivik opened #993 "Why is users collection named userUsers in production builds"
I am trying to extend the User schema with additional metadata for the user. I've followed the tutorial here
https://next-auth.js.org/tutorials/typeorm-custom-models successfully and added `plan` and `stripeCustomerId` in the following manner

**models/user.js**
[code]

**models/index.js** looks like
[code]

In `[...nextauth].js` I've added plan and stripeCustomerId to the session callback

[code]

[2020-12-25 15:38] #992 closed

[2020-12-25 20:31] dmythro opened #994 "Use camelCase field names as a flag (even if it's not MongoDB)"
**Summary of proposed feature**
Is there a reason why camelCase collection & field names are [for MongoDB only](https://next-auth.js.org/schemas/mongodb#objects-in-mongodb), not as a separate flag? Or am I missing something?

**Potential problems**
I want to use camelCase for all field/property names consistently across the project (with any database), mixing with snake_case feels ugly.

[2020-12-26 01:31] Xodarap commented on #569
@mjewell Did you ever get this working? I want to do something similar

[2020-12-26 14:17] #726 closed

[2020-12-26 15:55] YuriFontella commented on #989
I'm looking for that too.
It would be interesting if the singIn function had a return response instead of reloading the page, and we had to do something like this:

Promise.reject ('/ login? error = true')
The form data is lost and no user interaction occurs.

![image](https://user-images.githubusercontent.com/4920619/103154881-a59bd400-4779-11eb-9812-7a8c42788c25.png)

[2020-12-26 16:21] mcavaliere commented on #535
@iaincollins Looks like this is no longer possible in 3.1.0. The session callback seems to only return `email`, `user` and `image`. I do notice that the `signIn` hook returns the user's Google id in both the `account` and `profile` variables, but these don't seem to be available to the `session` callback.

Tested with Google as a provider, both with and without database integration.

Do you know o

[2020-12-26 17:02] #716 closed

[2020-12-26 19:52] DragoshDX commented on #167
It seems that a lot of use cases are exactly this.

External API that returns a user object and a token when validated. And the next-auth backend surely can consume and authorize with those APIs, but what then?

I do use the credentials provider talked about in the thread, but, it just feels silly to encode an external JWT inside the auth JWT (which would work, but is quite inelegant)

I still hav

[2020-12-26 20:35] mjewell commented on #569
Yeah, I did! There's quite a bit of code and I'm using expo so there's some stuff specific to that in here too, but if you're not hopefully you can piece things together from here... Here's how:

First, we need to set some stuff up at app initialization time.

[code]

[code]

Make sure you have an environment variable `API_URL` set up to point to your back end. For local dev this is something like

[2020-12-27 00:40] ryangittings commented on #378
+1, same issue for me too. Need access to id_token for Sign in with Apple! :)

[2020-12-27 00:45] pbshgthm commented on #725
@iaincollins I'm trying to implement this. Here are my concerns. I need to make a few calls to the DB and process the data, which occasionally might take more than 10s, thus resulting in a timeout on Vercel. Hence I'm I'd like to have the API external and have the client directly call the external API, so the timeout issue can be overcome. But now the external API need to validate the requests fro

[2020-12-27 17:11] PawelPyc154 commented on #659
Make sure your password does not include $

[2020-12-27 17:25] gino8080 commented on #834
Can get it working using a  typescprit  pages/api/auth/[...nextauth].tsx page
everything is working if using a plain [...nextauth].js page

[2020-12-27 18:40] PawelPyc154 commented on #565
It still doesn't work for me :(

[2020-12-27 19:06] rjblopes commented on #829
[code]
@valentijnnieman Here my adapter. The models are my mongoose models. Comments are welcome. Cheers.

[2020-12-27 19:58] Zertz commented on #833
Although it hasn't been released yet, the [PR](https://github.com/typeorm/typeorm/pull/7136) to fix this in TypeORM has been merged.

[2020-12-27 22:43] rjblopes commented on #829
I'm not using email sign-in, so you may want to add few more methods if needed:
- createVerificationRequest
- getVerificationRequest
- deleteVerificationRequest

https://next-auth.js.org/tutorials/creating-a-database-adapter

[2020-12-28 09:07] ats1999 opened #1004 "I am getting Method GET not allowed! while signing."
## I am getting `Method GET not allowed!` while signing.
**Code:**
_**[...nextauth].js**_
[code]
**page component**
[code]

This code displays me a signin button, when i clicked, then it takes me on this url.
[code]
I got this on the browser screen.
[code]
This is logged on the console.
[code]

[2020-12-28 22:17] stefanbuck commented on #800
I thought about this issue for a bit and I came to the conclusion that maybe all is needed is a hook into the data before persisting the data in the database. This would also unlock other requested features:

- Access and Refresh tokens not updating #854
- How to persist custom fields in database? #613

How does this sound @iaincollins?

[2020-12-29 20:30] l0c0luke opened #1005 "How can I log the user out without consent and redirect to homepage?"
I don't want the page to show up to ask the user. Just send them straight to the homepage. Is there a way to do this?

[2020-12-29 21:37] jaaneh commented on #1005
If you're asking for e.g a "log out" button that instantly logs out, you can do something like this.
[code]
By calling and invoking the `signOut` method, it will sign the user out on click. Paired with something like this (or your own redirect/auth check method) should work as expected.
[code]

[2020-12-30 01:57] #1005 closed

[2020-12-30 01:59] #1004 closed

[2020-12-30 06:15] Xodarap commented on #569
Thanks! This is extraordinarily helpful.

Documenting my progress so far:
1. I couldn't get the CSRF function to work so I just ended up doing
[code]
2. This still wasn't working for some reason so I just set state: false for now as you suggested above.

I'm still getting the following error; will have to look into it tomorrow, but if you have any thoughts about what might be causing this I would

[2020-12-30 06:30] mjewell commented on #569
Are you using version next-auth@3.1? Also, what provider are you using?

[2020-12-30 06:31] Ketcap opened #1006 "[Release Needed] Prisma Adapter using Account instead User on Session Creation"
**Describe the bug**
While using Prisma adapter on next-auth I've noticed I can only use session once while first time I signup to app. Next time I've tried to login my session's user id is pointing Account.

It has seems to be fixed on source code but it's not released when using through npm. Hotfix would be helpful

**Steps to reproduce**
Use Prisma on nextauth use any provider and signup and tr

[2020-12-30 06:42] Ketcap commented on #1006
`@beta` version doesn't have fix.
Anyone having this issue is use `@canary` on npm.
```npm i next-auth@canary``` to fix the issue and make sure you have `>3.2.0-canary.1` version of the package.

[2020-12-30 06:42] #1006 closed

[2020-12-30 07:01] melanieseltzer opened #1007 "[3.2.0-canary.1] TypeError: Cannot read property 'toString' of undefined"
**Describe the bug**
Followed the [example tutorial](https://next-auth.js.org/tutorials#adding-authentication-to-an-existing-nextjs-application-in-no-time) to get Google auth working. Every time I'd attempt signing in with my Google account, I'd get kicked back to the sign in page with a message saying "Try signing with a different account." and this error in the console:

[code]

`id` is not avai

[2020-12-30 08:35] balazsorban44 commented on #1007
Thanks for tracking this down! I'll try releasing a fix for it in the near future.

[2020-12-30 08:40] Sidemen19 commented on #1007
Yep, I have the same exact issue, with the Discord provider. I'm also only receiving `name`, `email` and `image`. I'll downgrade for the time being.

[2020-12-30 09:40] timonweber commented on #277
I think it is… 😉

[2020-12-30 09:54] JakubKoralewski commented on #544
@iaincollins

Isn't storing sessions in Redis a good idea? https://stackoverflow.com/a/9153199/10854888
Or do you suggest just using JWT in this case?

[2020-12-30 13:23] #1007 closed

[2020-12-30 15:19] nikitalk commented on #855
Hi, friends! Are there any solutions of this issue?

[2020-12-30 17:11] kripod opened #1012 "FaunaDB should be a dev dependency, not a regular one"
As I’ve noticed in the latest canary release (`3.2.0-canary.3`), `faunadb` has been added as a dependency, but [it doesn’t seem to be used besides a test](https://github.com/nextauthjs/next-auth/search?q=faunadb). I would like to suggest adding `faunadb` to `devDependencies` while removing it from `dependencies`.

[2020-12-30 17:15] melanieseltzer commented on #1007
Thanks for the quick fix 👍

[2020-12-30 18:02] balazsorban44 commented on #1012
We have something called `peerOptionalDependencies`, but honestly have no idea how we handle these, as it doesn't seem to be an npm standard. `fauna` should be added there I guess.

[2020-12-30 18:04] kripod commented on #1012
Yeah, I see your point, it should be implemented as outlined here, then: https://github.com/yarnpkg/rfcs/blob/master/accepted/0000-optional-peer-dependencies.md#2-detailed-design

[2020-12-30 18:42] melanieseltzer opened #1013 "`url` in redirect() callback is always baseUrl"
**Describe the bug**
I have the following `redirect()` callback code (used [this tutorial](https://blog.logrocket.com/using-authentication-in-next-js/) as reference):

[code]

I'm just starting to set up my auth, and was working on it last night. It was working just fine for a period of time - as you can see from this screenshot, the URLs were correctly logged when hitting each page. So when `/api

[2020-12-30 18:55] balazsorban44 commented on #1012
I think we use this at the moment: https://github.com/christkv/require_optional

[2020-12-30 18:56] balazsorban44 commented on #956
This was released yesterday! You can install it with `npm i next-auth@canary`

[2020-12-30 18:56] #956 closed

[2020-12-30 19:01] kripod commented on #1012
Unfortunately, that doesn’t seem to be a living standard. However, the `peerDependenciesMeta` field is respected by Yarn and will eventually be adopted by npm if my memories are correct.

[2020-12-30 19:59] balazsorban44 commented on #1012
cc @iaincollins

[2020-12-30 23:24] balazsorban44 commented on #571
Please have a look at the jwt and session callbacks jn the documentation: https://next-auth.js.org/configuration/callbacks

[2020-12-31 06:00] melanieseltzer commented on #1013
My mistake - I misread the docs and didn't realize the `url` param provided to the redirect callback directly correlates to the `next-auth.callback-url` cookie 🙃 Now that I understand that, the flow is a lot more clear!

[2020-12-31 06:00] #1013 closed

[2020-12-31 09:18] cyrus-za commented on #597
@iaincollins I've created a PR to make this possible. It obviously needs to be used with care as the default required props need to still be passed back. Maybe we can run the function and just Object.assign with the returned value as opposed to only returning the function response.

[2020-12-31 11:16] #731 closed

[2020-12-31 11:19] CodingJinxx commented on #908
Same here

[2020-12-31 15:04] valentijnnieman commented on #829
Hey @rjblopes thanks so much for sharing! I didn't realize you could write an adapter and leave out methods like getSession etc, that makes things much less hard.

[2020-12-31 17:29] jembach commented on #838
@timothymiller did you solve the problem? I'm having the same problem and it is also regarding the context

[2020-12-31 18:36] timothymiller commented on #838
@jembach no, had to drop Preact in the meantime. Ask @aequasi for more insight. Right now, it's a "BuT iT WoRks FoR mE" situation.

[2020-12-31 20:57] balazsorban44 commented on #751
Updated the code to handle returned strings correctly, and changed the docs that wrongly suggested that you can return a modify JWT. To reiterate, all JWT modifications should be done in the `jwt` callback.

[2020-12-31 20:57] #751 closed

[2020-12-31 22:00] Xodarap commented on #569
Yeah, I'm on 3.1. Using Google.

[2020-12-31 22:31] aequasi commented on #838
Yeah, unfortunately. I'll help with what I can, if you have questions

[2021-01-01 04:18] ats1999 opened #1020 "Google Authorization Error"
I getting this error, which doing Google Oauth
[code]

**Reproduction**
Visit https://bdevg.com/api/auth/signin then choose sign in with google

**Authorized JavaScript origin**
https://bdevg.com

**Authorized redirect URIs**
https://bdevg.com

## vercel function logs
[code]

[2021-01-01 04:23] ats1999 opened #1021 "502: BAD_GATEWAY"
**502: BAD_GATEWAY**
While doing GitHub OAuth, i got this.
[code]
**Reproduction**
visit https://bdevg.com/api/auth/signin then choose a sign with Github

## Vercel function logs
[code]

[2021-01-01 12:37] #929 closed

[2021-01-01 14:24] balazsorban44 opened #1022 "Reduce user facing provider APIs"
Currently, there are some "magical" 🧙 fields only utilized by specific providers. We could handle these edge cases internally instead. All providers have an `id`, which we can use to switch on different behaviors. It would also make it easier to keep a TypeScript provider interface simple, without the need for [Discriminated Union](https://www.typescriptlang.org/docs/handbook/unions-and-intersecti

[2021-01-01 14:38] balazsorban44 commented on #1022
@cathykc As the original author of #895, I would like to ask you, how strongly do you feel about `additionalAuthorizeParams` being a provider property, instead of using the (new) third argument of the `signIn` client function?

https://github.com/nextauthjs/next-auth/blob/f2ad69358fb6e650035c85d320440468d0286377/src/client/index.js#L226-L242

Example:
[code]

Right now, there are 2 ways of doing i

[2021-01-01 18:46] OlliePrentice commented on #1021
I’m getting the same issue on my application when pairing with mongodb. I’ve opened up the IP access, by adding 0.0.0.0/0 but it doesn’t seem to work. Returns 502 after a 10 second timeout.

[2021-01-01 20:49] #378 closed

[2021-01-01 20:49] #393 closed

[2021-01-01 21:14] jaaneh commented on #1020
Make sure both the callback URL in your project and on Google Dev Console are the same. You might have used localhost in a place where you're meant to use your prod URL, e.g the project .env file.

[2021-01-01 22:40] balazsorban44 commented on #988
Could you please add a reproduction repo with a link to debug this?

[2021-01-01 22:41] balazsorban44 commented on #1021
Could you please provide some source code?

[2021-01-01 22:42] balazsorban44 commented on #1020
Could you please provide some source code? (Ideally a link to a reproduction repository)

[2021-01-01 22:53] bkalafat commented on #1021
I have same issue with mail auth too. How should I set database url
prod url looks like this and not working and getting below error
[code]

Error:
502: BAD_GATEWAY
Code: NO_RESPONSE_FROM_FUNCTION

[2021-01-01 23:41] balazsorban44 commented on #720
I can confirm, that I can use `getToken()` (and `getSession()` as well) inside `getServerSideProps`. The issue must be on your side.

Here is my code:
[code]

If you try `console.log(req.cookies)`, you should see that the cookies are actually there.

For me forgetting to add `encryption: true` resulted in `null`. Be sure to add it.

[2021-01-01 23:41] #720 closed

[2021-01-02 00:03] balazsorban44 commented on #989
Hi there! Could someone tell me, ideally what would you like to be returned? Or would simply don't redirecting anywhere/reloading enough?

[2021-01-02 00:14] #571 closed

[2021-01-02 00:19] balazsorban44 commented on #535
@mcavaliere please check out the jwt callback as well

https://next-auth.js.org/configuration/callbacks

[2021-01-02 00:28] balazsorban44 commented on #620
There are a lot of good answers here. This is in any case not a bug, as providing the correct properties will return the token as intended. If you need any further help, feel free to open a Discussion.

[2021-01-02 00:28] #620 closed

[2021-01-02 02:51] ats1999 commented on #1021
# NEXTAUTH_URL from vercel dashboard
![Screenshot (516)](https://user-images.githubusercontent.com/54087826/103449699-3afe1180-4d00-11eb-876c-6857aedb9bfc.png)
<hr><hr><hr><br>

# Github URL's
![Screenshot (515)](https://user-images.githubusercontent.com/54087826/103449707-5b2dd080-4d00-11eb-8d53-e91efcaabbd6.png)

# Code
[code]

# Explanation
This time, i directly pasted my id and secret into cod

[2021-01-02 02:59] ats1999 commented on #1021
## Client code
[code]

You can see this link in the footer

[2021-01-02 03:03] ats1999 commented on #1020
## Code
same as in this Github issue https://github.com/nextauthjs/next-auth/issues/1021 created by me

## Google URI's
![Screenshot (514)](https://user-images.githubusercontent.com/54087826/103449923-28390c00-4d03-11eb-92b1-9b58c326ea52.png)

##  Vercel NEXTAUTH_URL
![Screenshot (516)](https://user-images.githubusercontent.com/54087826/103449931-3edf6300-4d03-11eb-87c1-e7fe9a8bc9c6.png)

[2021-01-02 03:04] ats1999 commented on #1020
To see this live, visit https://bdevg.com/api/auth/signin?callbackUrl=https%3A%2F%2Fbdevg.com%2F

or, go to bdevg.com then click on a link, in the footer named **oauth**

[2021-01-02 05:20] #780 closed

[2021-01-02 09:41] balazsorban44 commented on #1020
The authorized redirect URI should be

https://bdvg.com/api/auth/callback/google

See: https://next-auth.js.org/getting-started/rest-api#get-apiauthcallbackprovider

[2021-01-02 09:43] balazsorban44 commented on #1021
The authorization callback URL should be

https://bdevg.com/api/auth/callback/github

See: https://next-auth.js.org/getting-started/rest-api#get-apiauthcallbackprovider

[2021-01-02 09:44] ats1999 commented on #1020
Do i need to update it in google console dashboard?

[2021-01-02 09:54] bkalafat commented on #1021
I found the solution like

1) npm install typeorm --save
2) npm install reflect-metadata --save
3) npm i typeorm@0.2.28
4)// _app.ts or _app.js
	import "reflect-metadata";
	...

[2021-01-02 09:55] ats1999 commented on #1021
What is this?

[2021-01-02 09:58] bkalafat commented on #1021
If you have issue on production but localhost. this should work for you. Do not forget to add import _app.js then try. It should work.

[2021-01-02 10:25] balazsorban44 commented on #1021
502 bad gateway NO_RESPONSE_FROM_FUNCTION
suggests that the provider does not get an answer from your application. Possibly because you configured the callback url wrong. The handler callback that will respond to the provider is at

/api/auth/callback/:provider

Please see my previous answer.

[2021-01-02 10:37] ats1999 commented on #1021
I changed **Authorization callback URL** in my GitHub developer setting to `https://bdevg.com/api/auth/callback/github`, but still I'm getting the same error.

[2021-01-02 10:44] balazsorban44 commented on #1021
Hmm, sorry 😕.

"Invalid​ ​state​ ​returned​ ​from​ ​oAuth​ ​provider"

Could you try setting `state: false`?

https://next-auth.js.org/configuration/providers#oauth-provider-options

[2021-01-02 11:13] ats1999 commented on #1021
This didn't worked, it takes me http://localhost:3000/api/auth/signin/github after clicking on **signin with github or google**

[2021-01-02 11:16] balazsorban44 commented on #1021
do you have a link to your repo?

[2021-01-02 11:17] balazsorban44 commented on #1020
Yes

[2021-01-02 11:32] ryangittings opened #1026 "RangeError: Maximum call stack size exceeded"
Using 3.2.0-canary.10, and just getting the folllowing error:

**Describe the bug**
RangeError: Maximum call stack size exceeded

Do not report bugs with your own project here, ask from help by raising a question instead - this helps us a lot with administration overhead.

**Steps to reproduce**
Run npm run dev, and load page with auth provider.

**Expected behavior**
No callstack error!

**Screen

[2021-01-02 11:35] ats1999 commented on #1021
It's private

[2021-01-02 12:00] ats1999 commented on #1021
OKey:
So, i forked your github repo, then i deployed it on https://next-auth-example-iota.vercel.app/

Repo: https://github.com/ats1999/next-auth-example/tree/main/pages

**Homepage URL** https://next-auth-example-iota.vercel.app
**Authorization callback URL** https://next-auth-example-iota.vercel.app/api/auth/callback/github
Now, tell me what should i edit.

, because it's looking like optional,

[2021-01-02 13:05] mcavaliere commented on #535
@balazsorban44 thanks! Managed to figure this out, was a configuration issue on my end.

[2021-01-02 13:42] deakster commented on #838
I am also getting `TypeError: Cannot read property 'context' of undefined` for what its worth, using the latest version of all dependencies as of today.

[2021-01-02 16:52] mmahalwy opened #1028 "Oauth flow continues even if no code is query"
**Describe the bug**
In the case of the Salesforce oauth, user is redirected back to the app without the `code=` param. Next-auth then continues the Oauth flow and tries to make request to fetch access token (without a code).
For example, this is the callback after authenticating on Salesforce side: `http://localhost:3000/api/auth/callback/salesforce?error=OAUTH_APP_ACCESS_DENIED&error_description

[2021-01-02 20:28] #1026 closed

[2021-01-02 20:30] balazsorban44 commented on #1026
Thanks for reporting! I quickly managed to find the cause and fixed some other bugs along the way. `canary` is a bit brittle at the moment, so feedback is extremely helpful!

[2021-01-02 20:35] ryangittings commented on #1026
Just tried this! Getting another error, did you want me to create a new issue?

/node_modules/next-auth/dist/server/routes/session.js:48
      return res.setHeader('Content-Type', 'application/json').json({}).end();
                                                                       ^

TypeError: Cannot read property 'end' of undefined

[2021-01-02 20:36] balazsorban44 commented on #1028
It seems to be a configuration error, not entirely sure what `next-auth` should do about it.

`user+is+not+admin+approved+to+access+this+app` this does not come from us.

Could you maybe add a reproduction repository?

[2021-01-02 20:47] balazsorban44 commented on #1026
Sorry for the inconvenience! Try `next-auth@3.2.0-canary.12`

[2021-01-02 20:51] ryangittings commented on #1026
No problem - I'm here to help! Great stuff, thanks for sorting so quickly.

[2021-01-02 20:52] spsaucier-bakkt commented on #695
@waptik How were you able to set localhost as your callback URL? Auth0 appears to block that domain in the "Application Login URI" field.

[2021-01-02 20:59] ryangittings commented on #1026
Working locally, though deploying with Next on Netlify and just getting console error. Not sure if this is environment related though...  `/api/auth/session` is just a blank page with no source, but is JSON locally. Hm...

["/api/auth/session", SyntaxError: Unexpected end of JSON input
    at /_next/static/chunks/0…]0: "/api/auth/session"1: SyntaxError: Unexpected end of JSON input
    at /_next/s

[2021-01-02 21:46] ryangittings commented on #1026
Just trying the sign in with apple on Vercel, and getting:

`[POST] /api/auth/callback/apple - Task timed out after 10.01 seconds`. Any ideas as to why that might be? Once again, might not be canary related...

[2021-01-02 22:15] ryangittings commented on #1026
I'm testing Sign in with Apple, and just getting a task timeout on Vercel. Not sure why that is, though!

[POST] /api/auth/callback/apple - Task timed out after 10.01 second

[2021-01-02 22:19] balazsorban44 commented on #1026
Can you check if it works on canary version 8?

[2021-01-02 22:22] ryangittings commented on #1026
Yep, works perfectly!

[2021-01-02 22:28] matiastucci commented on #833
Any new ideas? I tried all the suggestions but I still get the same error.

[2021-01-02 22:32] balazsorban44 commented on #1026
Will have to look at it again, later. Might have to revert some of the refactorings.

[2021-01-03 05:25] trivektor commented on #535
@mcavaliere how did you solve it?

[2021-01-03 10:07] waptik commented on #695
So it's working now?

[2021-01-03 12:48] balazsorban44 opened #1035 "Comply to Vercel Open Source sponsorship"
**Summary of proposed feature**

- A Vercel banner in the footer of each site page.
- A Vercel banner in the source repository's README.md file.
- All links back to Vercel should use a UTM tag with the format: ?utm_source=[team-name]&utm_campaign=oss

See the full list of criteria:
https://vercel.com/knowledge/can-vercel-sponsor-my-open-source-project

**Purpose of proposed feature**

We could mak

[2021-01-03 13:24] bratsos commented on #569
I'm trying to do something similar - it would be great if we could get a full-blown example in the docs after we pin down the exact steps needed.

@mjewell
1. Does those changes allow you to use `useSession` like you would in a web app?
2. Do you also use "traditional" Nextjs for a web app or just for the backend/endpoints?

[2021-01-03 13:30] YuriGor opened #1037 "MongoServerSelectionError: getaddrinfo ENOTFOUND"
**Describe the bug**
Bug in typeorm dep

**Steps to reproduce**

- Execute [`create-next-app`](https://github.com/vercel/next.js/tree/canary/packages/create-next-app) with [npm](https://docs.npmjs.com/cli/init) or [Yarn](https://yarnpkg.com/lang/en/docs/cli/create/) to bootstrap the example:
[code]
- Configure to use MongoDB Atlas.
- Configure Google OAuth
- run `npm run dev`
- try to login

**Exp

[2021-01-03 13:52] balazsorban44 commented on #1037
isn't this a duplicate of #833?

[2021-01-03 14:03] YuriGor commented on #1037
Yes, looks like dup, sorry, will try workarounds there
Looks like incoming typorm v0.2.30 is also going to fix this in a straightforward way.

[2021-01-03 14:03] #1037 closed

[2021-01-03 14:20] OlliePrentice commented on #1021
I have looked more into this issue.

I set up an AWS RDS database to test my application. Everything works correctly in production when doing this. So this means the problem must be to do with how NextAuth is connecting to MongoDB Atlas in production.

MongoDB and NextAuth are working correctly in local development.

I have the network access set to 0.0.0.0/0.

I have tried @bkalafat solution, but

[2021-01-03 14:26] bkalafat commented on #1021
Can you share your masked mongodb connection string

[2021-01-03 14:27] bkalafat commented on #1021
Set debug mode to true on your auth options

[2021-01-03 14:28] matiastucci commented on #833
This worked for me:

`yarn add typeorm@next`

and adding this in the `package.json`:

[code]

[2021-01-03 15:00] ats1999 commented on #1021
This doesn't logged anything on console.

[2021-01-03 15:02] ats1999 commented on #1021
In my case, mongodb atlas is correctly working,it is an working application. We can communicate with database, there is no db error.

But, still I'm not getting logged in using oauth.

[2021-01-03 15:05] ats1999 commented on #1021
If i was used normal oauth workflow not nextauth.js, then i would have made it earlier.

[2021-01-03 15:05] bkalafat commented on #1021
you should set dbname as /nextauth

[2021-01-03 15:08] ats1999 commented on #1021
nextauth or /nextauth?

[2021-01-03 15:19] bkalafat commented on #1021
Mine which is working like this for mongodb
DATABASE_URL=mongodb+srv://d**:********@cluster0-yaruk.mongodb.net/nextauth?retryWrites=true&w=majority

[2021-01-03 15:20] bkalafat commented on #1021
Mine which is working like this for mongodb
DATABASE_URL=mongodb+srv://d**:********@cluster0-yaruk.mongodb.net/nextauth?retryWrites=true&w=majority

[2021-01-03 15:22] ats1999 commented on #1021
Did you tried DATABASE_URL=mongodb+srv://d**:********@cluster0-yaruk.mongodb.net/anything?retryWrites=true&w=majority

Because my DB name is bdevg

[2021-01-03 15:26] bkalafat commented on #1021
no i am using another db for my application but you should use nextauth for next-auth db name on mongo. I guess its standart for them. Try to add new url path with this /nextauth?..  env file and use that on your next auth options

[2021-01-03 15:27] ats1999 commented on #1021
ok

[2021-01-03 15:29] bkalafat commented on #1021
and you dont have to create db at mongo. Next will generate it automatically

[2021-01-03 15:31] ats1999 commented on #1021
yeah

[2021-01-03 15:38] ats1999 commented on #1021
# URL's in my Github account

![Screenshot (517)](https://user-images.githubusercontent.com/54087826/103482563-a4cc0780-4e35-11eb-8c99-34e27d6b5f59.png)

Now, i created the `DATABASE_URL` as you said. There is debug mode is set to true. But, still, there is no improvement. Also, anything is not getting logged on the console.

[2021-01-03 15:44] ats1999 commented on #1021
GitHub repo https://github.com/ats1999/next-auth-example
working URL  https://next-auth-example-iota.vercel.app/

 if debug: true, then at least it should log error on console.

See, my repo for more information.

[2021-01-03 16:28] balazsorban44 opened #1038 "Apple times out on canary"
originally posted by @ryangittings in #1026

Worked in canary 8

[2021-01-03 16:30] balazsorban44 commented on #1038
Ryan, does this happen locally, or only on Vercel?

[2021-01-03 16:31] ryangittings commented on #1038
I've only tested on Vercel, both on canary 8 and canary 10. 8 worked, but 10 didn't!

[2021-01-03 16:59] spsaucier-bakkt commented on #519
I'm having this issue with a new user account using email only with Auth0, and using a brand new database isn't an issue. Is there an alternative to that fix?

[2021-01-03 17:17] spsaucier-bakkt commented on #519
Actually, it appears to work correctly when using session instead of database, i.e.:
[code]

[2021-01-03 18:04] YuriGor commented on #833
similar to @matiastucci 's solution. this one works for me with npm + npm-force-resolutions

[2021-01-03 18:31] jembach commented on #838
hi,

it is a problem by `preact`. In preacts version 10.5.8 it is working but it contains a [bug](https://github.com/preactjs/preact/pull/2896#issue-547541041).
With Version 10.5.9 they solved it but this problem again occurs.
Im looking forward to find the problem because I don't want to switch back to react because of its bundle size.

One good solution would be if `next-auth` would replace its

[2021-01-03 19:04] timothymiller commented on #838
@jembach Thank you for giving your input, but I don't think this is a viable solution.

It sounds like you're discarding Preact for React in the production dependencies.

My original error log from Preact version 10.0.x points to an issue with Preact's implementation of React Context.

The React team has been making a lot of changes lately (Suspense, concurrent mode, etc). It is much more than a v

[2021-01-03 19:34] jembach commented on #838
@timothymiller I have now looked in the changelogs of `preact` and the source code changes. Between version 10.5.8 and 10.5.9 they doesn't touched the context implementation and somehow with `preact` 10.5.8 `next-auth` is working but not with 10.5.9 of `preact`.

The I analyzed my `yarn.lock`.
Here is the content with `preact@^10.5.8`:
[code]

And when I install `preact@^10.5.9` the file looks lik

[2021-01-03 19:51] timothymiller commented on #838
@jembach i wasn't aware next-auth specified a Preact version.

For consistency sake, I should mention the last time I updated this issue, I was referring to version 10.5.5 of Preact.

I will try your method of matching Preact versions in yarn.lock when I return from holiday break.

[2021-01-03 22:27] trivektor commented on #908
Me too

[2021-01-04 01:55] aequasi commented on #838
FYI, worth noting that Preact has no plans to support the React Server Components, while NextJS does, so it may enb up not be feasible to continue using preact in the future.

[2021-01-04 03:21] suraj10k commented on #1035
Hey can I get assigned this issue?

[2021-01-04 05:45] timothymiller commented on #838
@aequasi care to share this magic code from 2 months ago that makes it all work?

[2021-01-04 06:55] melanieseltzer commented on #653
In case this helps someone - was also getting this error, and it was indeed due to a malformed `signingKey`.

In my case, the output from `jose newkey -s 256 -t oct -a HS512` (the command used to generate the `signingKey`) had a random linebreak inserted, which I didn't notice when I copied it over into my `.env.local` file. After removing the linebreak, it's all good 👍

[2021-01-04 08:35] balazsorban44 commented on #1035
Yes, it's yours! 😊

[2021-01-04 08:45] bkalafat commented on #1021
i cannot see node modules which I advise you to add.

npm install typeorm --save
npm install reflect-metadata --save
npm i typeorm@0.2.28
4)// _app.ts or _app.js
import "reflect-metadata";

[2021-01-04 08:46] fatihtelis commented on #834
Hi @sdan,

The problem is not related with TypeScript;

Main problem is the location of your file.
You have to put your custom signin page into;

correct location: **pages/auth/signin.[js|tsx]**
wrong location: **pages/api/auth/signin.[js|tsx]**

If you put it under api folder, getInitialProps won't work since these files works only on server side and do not have getInitialProps method.

Check fil

[2021-01-04 08:47] sdan commented on #834
Hey, yeah I realized this a few hours after I opened the issue and subsequently closed it 😀 .

[2021-01-04 09:49] ats1999 commented on #1021
npm install typeorm --save
npm i typeorm@0.2.28

which version I have to install, latest or 0.2.28?

[2021-01-04 09:51] ats1999 commented on #1021
Unpacked Size of `typeorm` is **17 MB**

Why this large-sized module is required?
It should not have these kinds of dependency, which force user to bring changes in the existing application.

[2021-01-04 12:18] iaincollins commented on #833
@Zertz @matiastucci Thanks for the update!

Great to know there is a fix in progress with TypeORM!

Will get that rolled in and we can update the dependencies and docs when typeorm@0.3.0 is out.

[2021-01-04 14:59] spsaucier-bakkt commented on #695
Yes, it is, thanks.

[2021-01-04 16:05] BenjaminWFox commented on #484
@benbender I'm not sure I follow entirely - did you encounter a situation where the encryption key wouldn't work if you didn't include the `use` parameter? That's not the case for me, and per the quoted link from @iaincollins the `use` parameter is optional.

If this is more a matter of semantics, you could also include `-u sig` in the `JWT_SIGNING_KEY` for additional clarity.

[2021-01-04 16:19] mjewell commented on #569
Did you set up all those environment variables? For me they look like this:

[code]

I haven't hit the `invalid_grant` issue, but I did notice I was intermittently getting errors (probably about 20% of the time) because the CSRF token was different so the code didn't match. Since then I've removed the state param from the request. Here's what my new `exchangeToken.ts` looks like:

[code]

and adde

[2021-01-04 17:54] waptik commented on #695
No problem. I'm glad it works

On Mon, Jan 4, 2021 at 3:00 PM Stevo <notifications@github.com> wrote:

[2021-01-04 19:50] aequasi commented on #838
There was no "magic code" unfortunately. I just didn't have the issue

[2021-01-04 20:41] timothymiller commented on #838
@aequasi that's not how this works. That's not how any of this works.

[2021-01-04 20:42] ryangittings commented on #1038
Let me know if I can help at all!

[2021-01-04 21:13] benbender commented on #484
@BenjaminWFox Yes, without `-u enc` I got `Error: unsupported algorithm` from node-jose.

[2021-01-04 21:15] aequasi commented on #838
I gave you a reference (https://github.com/nextauthjs/next-auth/issues/838#issuecomment-723661465) as to what did work for me, to help you iron out where your problem may be coming from. Perhaps if you upload a reproducible test case, someone may be able to help out more efficiently

[2021-01-04 21:16] #1038 closed

[2021-01-04 21:35] deakster commented on #838
@aequasi Do any of your pages/components where you do auth use SSR? The errors I was getting was only during server side rendering (specifically with useContext); if the site was purely static it would have worked for me too.

[2021-01-04 21:57] balazsorban44 commented on #1038
@ryangittings Could you check if canary 14 works with Apple on Vercel now? I found a related bug that I fixed now.

[2021-01-05 01:06] TimNZ commented on #532
A bit of googling and I discovered there's a lot of discussion about the standards/browsers view on preserving or not fragments e.g. #... on redirects (302).

If you trace the network calls you can clearly see that no # is specified in the 'location' response cookie set by NextAuth on redirect using callbackUrl value, but the #_=_ (in case of FB) is retained.

https://github.com/ariya/phantomjs/is

[2021-01-05 07:41] jacklimwenjie commented on #648
Is there any recommendation to handle this?

It's not a pleasant UX to redirect the user to a new error page on sign in fail.

[2021-01-05 09:22] ats1999 commented on #1021
I update the repo as you advised, but no improvement.
See https://next-auth-example-iota.vercel.app/

[2021-01-05 09:35] Dev-Songkran commented on #596
Hi, is there a temporary solution?

[2021-01-05 10:27] ValentinH commented on #596
For now, I'm doing a full-reload navigation as a workaround/

[2021-01-05 11:38] marco-koenen commented on #989
Hi all, I think that not reloading the page is not enough. For example, how to deal with errors when normally the errors are passed with the URL? For me it would be best if something is returned with the SignIn() function. For the beginning I think it would be sufficient if two fields are returned:

[code]

If the status is 200, the signIn was successful. Everything above 400 is an error.

[code]

[2021-01-05 13:48] suraj10k commented on #1035
where exactly in the readme.md file do you want the Vercel banner?

[2021-01-05 14:24] balazsorban44 commented on #1035
I guess we could add it to the Acknowledgements section, with some text:

"Thanks to Vercel sponsoring this project by allowing it to be deployed for free for the entire NextAuth.js Team."

Or something similar. Not sure about the wording

[2021-01-05 14:36] balazsorban44 commented on #1022
@cathykc when #1023 will be merged, the name will change from

`additionalAuthorizeParams` to `authorizationParams`. This plays better with the already present `authorizationUrl`.

I changed the slack provider respectively, so no changes will be needed.

[2021-01-05 15:34] #1022 closed

[2021-01-05 15:50] balazsorban44 opened #1048 "Replace node-oauth dependency"
https://github.com/ciaranj/node-oauth Is a library we use to communicate with OAuth providers. Although it works, we have already patched it in many places, mainly because it uses callbacks over Promises, and the library itself looks abandoned. (Last commit was in 2017).

We should either get rid of it, or replace it fully.

[`node-openid-client`](https://github.com/panva/node-openid-client) looks

[2021-01-05 16:52] dikaio opened #1049 "Error in Example Demo"
The example demo currently produces an [application error here](https://next-auth-example.now.sh/protected-ssr) while signed in. You need to be signed in to see the error.

[2021-01-05 21:55] rickywid opened #1050 "How do you use Facebook Provider on localhost?"
I'm trying to create a Facebook OAuth app to use with NextAuth but in the Facebook App settings it gives me this

https://i.imgur.com/9unfmWp.png

[2021-01-05 22:36] kripod opened #1051 "Verification token encryption/hashing to prevent email security issues"
**Summary of proposed feature**

Currently, verification tokens are sent by email in plaintext format, which could be traced and potentially be stolen by bad actors.

**Purpose of proposed feature**

Overcome the inherent security issues of email transmission.

**Detail about proposed feature**

When requesting a token to an email address, the server should send back a randomly generated key as a

[2021-01-05 22:58] kripod opened #1052 "Specifying a default `callbackUrl` on the server"
**Summary of proposed feature**

The default value of `callbackUrl` should be specifiable securely as an option on the server.

**Purpose of proposed feature**

While the client-side `signIn` function provides a dynamic, location-based fallback for `callbackUrl`, an [API call to `/api/auth/signin/*`](https://next-auth.js.org/configuration/pages#email-sign-in) has `process.env.NEXTAUTH_URL` hardcod

[2021-01-06 01:10] ats1999 commented on #1021
Still, it has the same issue 😂

[2021-01-06 02:48] #642 closed

[2021-01-06 10:33] adharshmk96 commented on #116
is it possible to achieve this with database url for sqlite in memory ?

[2021-01-06 10:37] OlliePrentice commented on #1021
Yes I have tried the many different fixes to no avail.

@bkalafat how do you have your MongoDB Atlas configured?

What cluster tier/region are you using?

I have my Network access set to.

![Screenshot 2021-01-06 at 10 35 53](https://user-images.githubusercontent.com/13609605/103759078-0d201200-500b-11eb-88ec-ea41cbfb6c97.png)

Database user set to Atlas admin.

Connection strings works locally, b

[2021-01-06 12:50] ats1999 commented on #1021
Why don't you leave DB configuration on the user?
It has already taken, so much time.

[2021-01-06 14:20] jasonkuhrt commented on #1052
This looks like a duplicate of https://github.com/nextauthjs/next-auth/issues/969

[2021-01-06 14:22] kripod commented on #1052
@jasonkuhrt Thanks for pointing this out, I’m closing this in favor of that issue.

[2021-01-06 14:22] #1052 closed

[2021-01-06 14:54] ndom91 commented on #116
@adharshmk96 what are you asking exactly? If you specify `database: ':memory:'` it will automatically use an sqlite in-memory db file.

You want to use an explicit database URL with a path to a local file? In that case, the file would be on the disk somewhere and no longer "in-memory". Unless you specify a directory which you have already mounted to a ramdisk beforehand haha

[2021-01-06 15:11] YuriFontella commented on #989
I think it would be interesting to return what was defined in Promisse.resolve or Promisse.reject from the authorize() function.

[2021-01-06 16:47] RaknaXTR opened #1054 "fetchData Callback"
**Summary of proposed feature**
Adding extra information to the session when the user logs in.

**Purpose of proposed feature**
Like fetching the user's servers at login and assigning them to the session.

**Detail about proposed feature**
[code]

[2021-01-06 17:14] oliviermtl commented on #1050
Just leave it blank

[2021-01-06 17:41] rickywid commented on #1050
@oliviermtl https://i.imgur.com/B9Alk7L.png

[2021-01-06 18:07] balazsorban44 commented on #1054
Ho there, this is why you have the `jwt` and `session` callbacks. Please check the documentation https://next-auth.js.org/configuration/callbacks

[2021-01-06 18:09] #1054 closed

[2021-01-06 23:54] balazsorban44 commented on #1049
Could you please specify what kind of error you are seeing, and how to reproduce it?

[2021-01-07 02:31] dikaio commented on #1049
Hi @balazsorban44. Sure.

Your example application `https://github.com/nextauthjs/next-auth-example` produces an application error on the `protected-ssr` page, [you can see the error here](https://next-auth-example.now.sh/protected-ssr).

To reproduce the error:

[code]

This will produce the error

[code]

This error is not produced from cloning and using your repo, its the example application yo

[2021-01-07 07:47] oliviermtl commented on #1050
You might want to provide a bit more details than just a screenshot.
I was doing exactly the same this morning, works out of the box.

[2021-01-07 09:25] balazsorban44 commented on #1049
Thanks! I am wondering if these are related:
#660, #1021

[2021-01-07 10:08] balazsorban44 commented on #836
#1024 solved this by passing the `idToken` to the `jwt` and `signIn` callbacks through `profile.idToken`.

[2021-01-07 11:18] angelhodar commented on #531
@zenflow I would be pleased if you can put here the cleaned up version you are talking about, because if this library can be used with express it would be a great solution for fast and secure auth in any nodejs express based backend.

[2021-01-07 12:13] Marujah commented on #834
@balazsorban44 , when an issue is opened in november 2020 und until today there are no reactions to it and will be closed without explanation, that means that it's not maintained

[2021-01-07 12:28] tarunama opened #1057 "404 Page Not Found about next auth url"
**Describe the bug**
[code]
404 Page Not Found https://next-auth.js.org/warning#nextauth_url

**Expected behavior**
Not 404 Page Not Found.

[2021-01-07 12:47] balazsorban44 commented on #834
@Marujah Please keep in mind that many just had their winter holiday, this can be a reason for little/no activity. Anyway, - as mentioned - TypeScript support is a community effort right now, and therefore I cannot speak for why there has been little activity. You can always fix TS errors locally for your project like so:
[code]

[code]

Feel free to open PRs with fixes to DefinitelyTyped, or a PR

[2021-01-07 13:08] keslert opened #1058 "Google One Tap"
Is it possible to use next-auth with [Google One Tap](https://developers.google.com/identity/one-tap/web/guides/get-google-api-clientid)?

[2021-01-07 13:23] balazsorban44 commented on #1057
Its a typo in the docs, should be `warnings` not `warning`. Care to open a PR and fix? 😊

[2021-01-07 13:28] #1057 closed

[2021-01-07 14:06] iaincollins commented on #1049
Thanks for raising this! I saw it earlier this week and came here to check to see if anyone had flagged it.

The demo actually uses an in memory database, so has no external dependencies (beyond OAuth provides).

The Protected SSR route and the JWT route are both not working, but were previously.

I think there may have been some sort of change on the Vercel platform that is triggering this issue.

[2021-01-07 14:10] iaincollins commented on #1049
I'm happy to pick this up and debug it - that's probably the best idea as I'm the only one who currently has access to the logs or to do deployments, as we don't have paid or open source team account yet.

I checked the logs and do have an error but it didn't seem helpful, so will likely create a custom page with some debugging.

It's seems likely the problem is with with decoding the JWT somehow,

[2021-01-07 14:22] iaincollins commented on #1049
Okay nope, some incorrect breaking changes were made to the repo I was unaware of. I'm going to ask folks that not make changes the Example repo for now.

[2021-01-07 15:00] iaincollins commented on #1049
Okies:

- I've rolled out a fix for the JWT page and removed the SSR example entirely (it wasn't intended to be part of the live demo).
- I've updated the example to Next.js 10.
- I've closed the open PRs, and explained why in the case of the VERCEL_URL PR.

I think we should leave the exiting example repo alone for now.

Hopefully in the future we can have a wider range of examples (with appropri

[2021-01-07 15:01] iaincollins commented on #1049
Closing as is resolved for now.

Thanks again for raising the issue!

[2021-01-07 15:01] #1049 closed

[2021-01-07 15:03] iaincollins commented on #1058
I didn't know about this but its really interesting! Thanks for raising this.

[2021-01-07 15:09] keslert commented on #1058
Yep, I'm starting to see it used more and more around the web. And the stats I've seen around it show that it has a substantial improvement on signups.

[2021-01-07 15:49] RaknaXTR commented on #1054
But this works when every session is checked. I just want a callback that comes when the user is logged in.

[2021-01-07 17:23] balazsorban44 commented on #1054
The jwt token takes several params, but all of them except the first are only available only the time the jwt is created. you can simply add an if check to add any additional data, and return the previous token in subsequent checks.

[2021-01-07 19:37] ats1999 commented on #1021
@balazsorban44
But, it's working here https://next-auth-example.now.sh/
how??

[2021-01-07 20:01] balazsorban44 commented on #1021
@iaincollins just reverted some changes on the example app, Iain maybe you could give an answer to this?

[2021-01-07 20:31] VijayStroup commented on #591
I'm still having a problem with this issue as well.
Here is my setup:
Next: 10.0.3
Next-Auth: 3.2.0-canary.16

[...nextauth.ts]
[code]

pages/dashboard.tsx
[code]

Even when passing a callbackUrl inside the signIn function like @asumaran suggested, when I am authenticated, I get redirected to localhost:3000 rather than localhost:3000/dashboard or even https://www.google.com.

[2021-01-07 22:26] balazsorban44 commented on #596
@iaincollins couldn't this be the cause?

https://github.com/nextauthjs/next-auth/blob/65504d691736087195ef4cb220d528064751ba70/src/client/index.js#L52-L55

[2021-01-08 00:17] rickywid commented on #1050
@oliviermtl what info do you need?

I'm simply providing the Facebook client and secret id in the provider config settings. Not sure what else I have to do to get it to work.

[2021-01-08 07:51] jackHedaya opened #1059 "Custom Redirect"
**Your question**
How can I add a redirect for a custom provider I'm making?

**What are you trying to do**
I'm using a third party provider for my application. The issue is the provider converts `http` to `https` automatically. This means when I use localhost for development, the redirect and by extension authentication will not work.There's a discussion open on Next on adding an option for local

[2021-01-08 11:03] guido4000 commented on #690
This has not been resolved.

[2021-01-08 12:06] Flosrn commented on #1021
I am facing the same problem with google provider and github provider, only works in dev mode, tried many solutions, stuck for 2 days on this error..

[2021-01-08 14:17] tarunama commented on #1057
Thank you for your great working !

[2021-01-08 14:23] Flosrn commented on #1021
I'm sure the problem come from the _database_ in [...nextauth].tsx call.
I tried many configuration (all) from this https://github.com/nextauthjs/next-auth/issues/833
And the only solution who work for my for not having the **MongoServerSelectionError: getaddrinfo ENOTFOUND** error is to set database not like this :
`database: process.env.DATABASE_URL,`
but like this :
[code]
(who the DTABASE_URL

[2021-01-08 14:44] sebasptsch commented on #975
I'm having a similar issue where the state of loading doesn't update until I change some element of my browser e.g window width or open my browser's search bar. Up until that point it hangs on the loading screen I setup (controlled by loading from the useSession() hook.

[2021-01-08 15:00] sebasptsch commented on #975
Update: By using the Provider in `_app.tsx` these weird loading issues disappeared and navigating between routes was infinitely faster.

[2021-01-08 21:47] bkalafat commented on #1021
wrong db name

[2021-01-09 02:15] ankur-leviathan opened #1061 "<redacted>"
<redacted>

[2021-01-09 02:15] #1061 closed

[2021-01-09 02:18] arxenix opened #1062 "Better exception handling in providers"
**Summary of proposed feature**
Currently, it seems like all provider exception are caught and handled the same way -- redirect the user back to the sign up page.

**Purpose of proposed feature**
Better exception handling should be in place so that we can give better diagnostic information to the user.

**Detail about proposed feature**
In my use case, I am using a custom Discord OAuth Provider bu

[2021-01-09 06:06] Xodarap commented on #569
Thanks @mjewell ! It turns out that the issue I was having is that Expo doesn't like when you console.log the response from fetch, and I was confusing that for an actual error with the fetch.

Would be possible for you to share a snippet where you are using `useSession`? I'm still kind of confused about how this works – we do a valid request, and the Web server returns a cookie, but how do we get

[2021-01-09 13:24] balazsorban44 commented on #1062
Hi there!

You could check out the `signIn` callback that allows you to redirect the user to a page, if you deem they should not be logged in.

Docs might be a bit confusing/complicated at the moment, but here is a link:
https://next-auth.js.org/configuration/callbacks#sign-in-callback

Example how to implement it:
[code]

[2021-01-09 13:45] balazsorban44 commented on #1035
@suraj10k Do you have any information on your progress? 🙂 Do you need further assistance?

[2021-01-09 15:25] OlliePrentice commented on #1021
@Flosrn

I think I've finally got it working, try changing 'uri' to 'url'

In package.json add:

  "resolutions": {
    "typeorm": "0.2.28"
  }

I've tested without the 'reflect-metadata' package and it also works.

Hope this helps everyone.

Thanks,

Ollie

[2021-01-09 16:55] mjewell commented on #569
I'm actually not sure how it works, it seems like the cookie is correctly being sent by the app. I read that cookies are unreliable in apps but it seems to be working fine for me.

I'm not really sure what to even show a snippet of, I just render the `Provider` at the root of the app, and call `useSession` in any components I want the session in.

[2021-01-09 18:58] Xodarap commented on #710
Can we reopen this? It just happened to me on my production site; I redeployed and the issue went away, but it's kind of worrying that this can happen.

[2021-01-09 19:44] arxenix commented on #1062
Ah, this would definitely help! Must have missed that in the docs, thank you very much.

[2021-01-09 19:44] #1062 closed

[2021-01-09 20:10] balazsorban44 commented on #1062
Awesome! Do tell if you did not manage to solve your problem.

[2021-01-09 21:14] joanoliete commented on #908
With a local mongodb database is working, not with Atlas

[2021-01-09 21:49] balazsorban44 commented on #908
@CodingJinxx @trivektor, thanks for chipping in, but a reproduction repo and some config information would be very helpful.

[2021-01-09 22:32] Xodarap commented on #569
Okay, I have created [a working standalone Expo app](https://github.com/Xodarap/simple-expo-next-auth) which should work as a starting point for anyone who wants to try this in the future

I found that my cookies were not being cleared between logins, causing authentication problems because it was sending stale session tokens. This app just clears all cookies before logging in each time which is p

[2021-01-10 00:36] jackHedaya opened #1065 "Error on missing `profileUrl` and/or `profile`"
**Describe the bug**
In the documentation, `profileUrl` and `profile` for custom providers are said to be not required in documentation but the application will crash if they are not given. This error is also the root of issue #209 as discovered by @ospira.

**Steps to reproduce**
Steps to reproduce the behavior.
+ Create custom provider
+ Omit `profileUrl` and/or `profile`

**Expected behavior**

[2021-01-10 05:33] jackHedaya opened #1067 "Allow manipulation of provider response"
**Summary of proposed feature**
I believe it would be useful for there to be a callback for right after the Provider API is hit.

**Purpose of proposed feature**
This is helpful because some OAuth Providers will send back tokens in different formats such as `refresh_token` instead of `refreshToken`.

**Detail about proposed feature**
There would be a `res` callback.

**Potential problems**
None th

[2021-01-10 07:00] alex-munayyer commented on #780
@iaincollins Quick question.

I've gone through all the documentation and the threads in here. I have only seen CRUD operations mentioned in an old version of next auth here: https://www.npmjs.com/package/next-auth/v/1.1.3 with a file called next-auth.functions.js.

What is the best way to do CRUD operations with say a MongoDB connection with Next Auth? Are there still built-in functions to do thi

[2021-01-10 08:54] lawrencecchen opened #1069 "Collect profile info in passwordless email signIn() flow"
**Summary of proposed feature**
I want to collect a new user's full name using: `signIn("email", { email })`

**Purpose of proposed feature**
I encountered this use case.

**Detail about proposed feature**
A createProfile option:
`signIn("email", { email: "lawrence@example.com", createProfile: { name: "Lawrence" } })`
If createProfile exists, name will be persisted to the database. If omitted, sta

[2021-01-10 11:18] c7nasr commented on #908
+1 here

[2021-01-10 11:26] trivektor commented on #908
Here's my config https://github.com/trivektor/nextjs-ticket-tracking/blob/main/pages/api/auth/%5B...nextauth%5D.js#L11

After googling around, I found that the solution is to use typeorm 0.2.28

https://github.com/trivektor/nextjs-ticket-tracking/blob/main/package.json#L25

[2021-01-10 11:27] c7nasr opened #1070 "Use Session Token in My API in Credential Mode"
**Your question**

1- So now I'll use next auth to authenticate users to my backend then nextjs auth will create sessions for me.
NextAuth creates a token session update every second I think? so I need to use this token in my backend with every request to validate the user. but always the JWT package on my backend(NodeJS) returns (INVALID SIGNATURE) for the auth nextjs session token. even if I def

[2021-01-10 11:37] c7nasr commented on #908
`{
  "name": "next-test-auth",
  "version": "0.1.0",
  "private": true,
  "scripts": {
    "dev": "next dev",
    "build": "next build",
    "start": "next start"
  },
  "dependencies": {
    "axios": "^0.21.1",
    "jsonwebtoken": "^8.5.1",
    "mongodb": "^3.6.3",
    "next": "10.0.5",
    "next-auth": "^3.1.0",
    "react": "17.0.1",
    "react-dom": "17.0.1",
    "reflect-metadata": "^0.1.13",

[2021-01-10 14:28] balazsorban44 commented on #1067
Hi there, do you have a special case where this has been a problem?

As far as I can tell, the [OAuth spec](https://tools.ietf.org/html/draft-ietf-oauth-v2-07#section-5.1.5) says it has to be in the form at `refresh_token`, and as you see here:
https://github.com/nextauthjs/next-auth/blob/fb8ec8a46962f4349ab5ab7a211ecdd9e3d7c7c5/src/server/lib/oauth/client.js#L167

we do expect it to be `refresh_t

[2021-01-10 15:08] BrandonCopley commented on #908
typeorm 0.2.29 has a bug in it, not sure when they'll fix it.
--
[image: Giftnix]

Brandon Copley

Founder & CEO

t: 512.784.6060 <(512)%20784-6060>

e: copley.brandon@gmail.com

On Sun, Jan 10, 2021 at 5:37 AM Mahmoud Nasr <notifications@github.com>
wrote:

[2021-01-10 16:27] lnikell opened #1074 "Calls to /sessions when you get back to the tab"
**Describe the bug**
Using `"next-auth": "^3.1.0"` I have a weird behaviour, so everytime I click to Chrome Inspector or switch from one tab to another it does an extra call to `/sessions`. The same behavior I see on Next Auth demo page.

**Screenshots or error logs**

https://user-images.githubusercontent.com/2697570/104128614-fcec9780-5368-11eb-8f9b-d142d45bfe21.mov

Is it expected behavior?

[2021-01-10 16:54] balazsorban44 commented on #1074
Hi,

it is indeed an expected behavior. This is so that the session will be synced between tabs, and always up to date.

Relevant code:
https://github.com/nextauthjs/next-auth/blob/78fd783bac990d8f2109487ac6598a38e3173f40/src/client/index.js#L71-72

[2021-01-10 16:57] #1074 closed

[2021-01-10 17:00] balazsorban44 commented on #908
So as far as I can understand, this is an upstream issue, not  directly `next-auth`. I would like to close this issue then, feel free to comment later on, when a fix is released upstream, so we can incorporate it here as well.

[2021-01-10 17:00] #908 closed

[2021-01-10 17:39] lucasconstantino commented on #178
I found quite an easy way of doing so using a little help (though can be easily done without it) from [react-new-window](https://github.com/rmariuzzo/react-new-window):

`src/pages/index.js`:
[code]

`src/pages/sign-in.js`:
[code]

Similar logic can fix #360 too.

[2021-01-10 18:38] jackHedaya commented on #1067
That's my bad then, I'm not sure why my custom provider isn't working. I opened a new discussion issue if you wouldn't mind checking it out.

[2021-01-10 18:42] #1067 closed

[2021-01-10 18:59] highflying commented on #600
+1, I need this too.

[2021-01-10 19:20] FjolleJagt opened #1077 "`callbackUrl` is ignored (redirects to baseUrl)"
**Describe the bug**
NextAuth.js no longer uses `callbackUrl` when logging in (at least when using "credentials", but I believe in general).

**Steps to reproduce**
Use `signIn("credentials", {callbackUrl: 'http://localhost:3000/mycallbackurl'})` to navigate to the signin page with a callback url. Sign in.

(I don't have a minimal code example, but I have precise code pointers below, which are hop

[2021-01-10 19:23] FjolleJagt commented on #1077
A "quick fix" would be to manually set `req.options.callbackUrl = callbackUrl` in `server/index.js`, but I don't know how you feel about this. If you're okay with that suggestion, then I can create a PR to fix this.

[2021-01-10 19:24] balazsorban44 commented on #1077
It looks like tests are not running right now, and I believe only @iaincollins knows the real reason.
Until tests are in place again, feedback like this is very welcome! Indeed, I did a mistake while refactoring, thanks for noticing!

It should be fixed again: https://github.com/nextauthjs/next-auth/blob/173df76c0f34a69c29ad215dd259573ad6a7c96d/src/server/lib/callback-url-handler.js#L32

Please tr

[2021-01-10 19:39] FjolleJagt commented on #1077
Thanks for the quick response! In `canary.18`, the clientside code isn't populating the form element that sets the CSRF token, so I get redirected back to the signin page by [server/index.js](https://github.com/nextauthjs/next-auth/blob/173df76c0f34a69c29ad215dd259573ad6a7c96d/src/server/index.js#L195). The generated HTML is `<input type="hidden" name="csrfToken">`. In `canary.17` the value was po

[2021-01-10 19:43] balazsorban44 opened #1078 "Add tutorial on passing access token to session (good first issue)"
**Summary of proposed feature**
A large number of issues are created that asks how to pass `access_token` to the session.

**Purpose of proposed feature**
Currently, we point the users to the `jwt` and `session` [callbacks documentation](https://next-auth.js.org/configuration/callbacks), but since it's such a highly requested thing, we might just want to create a specific tutorial under https://ne

[2021-01-10 19:51] balazsorban44 opened #1079 "Add tutorial on user-land refresh token usage"
**Summary of proposed feature**
There is some confusion about how refreshing tokens can happen or what expiration means in the context of `next-auth` and a given provider. This probably stems from that users simply expect the access token to be always up-to-date when used. We don't currently support automatic access token refreshing, but it CAN be implemented by the users. Until we have built-in s

[2021-01-10 20:03] lnikell commented on #1074
Thank you @balazsorban44. Would you like to consider moving to a more modern solution for this ?https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API
That will improve the dev experience because we won't have a lot of spam calls in the console network tab when you debug a completely different thing. Also, it will improve performance because we won't rerender components when it is no

[2021-01-10 20:04] balazsorban44 commented on #1077
My bad again, sorry!

This commit https://github.com/nextauthjs/next-auth/commit/e504044489060a5f7f5e8ae1802ee07b2aae2547
will hopefully fix this, and is available at `canary.19`

(It's scary to do big refactorings, especially when tests won't run, that's why it's good to have a canary channel 🤗)

[2021-01-10 20:11] balazsorban44 commented on #1069
Could you please elaborate a bit more on your use case?

[2021-01-10 20:20] balazsorban44 commented on #1074
Interesting! Browser support is looking good as well!

Would you be interested in implementing this? (In that case, could you open a feature request issue referencing this, and explaining the reason you would like this change :slightly_smiling_face:  )

cc @iaincollins

[2021-01-10 20:22] lnikell commented on #1074
@balazsorban44 yes, I can handle it.

[2021-01-10 20:38] balazsorban44 commented on #600
To anyone reading this, please stop +1 issues, it is really not helpful, and creates noise. 😕

If you have nothing constructive to add, do click "👍" on the original comment instead.

[2021-01-10 21:03] jackHedaya commented on #1079
I'd be happy to tackle this issue once I figure out the solution in #1068 :)

[2021-01-10 21:10] jackHedaya commented on #1059
For those who encounter this issue of needing to use HTTPS for localhost, my solution was creating a custom developer server only for development. This will (hopefully) allow Vercel to make it Serverless while giving me https access on localhost.

**dev-server/index.js**
[code]

**package.json**
[code]

I generated the SSL files using <a href="https://github.com/FiloSottile/mkcert">mkcert</a> with

[2021-01-10 21:10] #1059 closed

[2021-01-10 21:11] lnikell opened #1080 "Use browser visibility API to synchronise session across tabs"
**Summary of proposed feature**
As a part of this conversation https://github.com/nextauthjs/next-auth/issues/1074 I'm proposing to switch from legacy way of detecting tabs visibility to visibility API that is supported in all modern browsers:

https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API

**Purpose of proposed feature**
- Prevent spam in Network console tab during developm

[2021-01-10 21:11] jackHedaya commented on #1078
I'd be happy to tackle this issue once I figure out the solution in #1068 :)

[2021-01-10 22:26] #1080 closed

[2021-01-10 22:53] lawrencecchen commented on #1069
If the user is new, I would like to collect and persist their name somewhere in the authentication flow. For example, if you create a new account on Medium, the email verification link redirects you to a page that asks for your name. While this can be implemented in the client side by checking if the "name" key exists on the session.user object and then prompting the user for their name to persist

[2021-01-10 23:04] lawrencecchen commented on #1079
I'm happy to help with this one!

[2021-01-11 08:41] balazsorban44 commented on #638
Hi there, another maintainer here!

I faced a similar issue with our Identity Server 4 provider at work. Our users use shared computers, and so we would like them to log out of the IdP, when they log out of any of the connected clients. The solution for this is to support federated logout (which is an OpenID Connect feature, and we don't have full coverage of these specs yet) by `next-auth`.

I ra

[2021-01-11 08:46] #638 closed

[2021-01-11 08:48] balazsorban44 commented on #836
Reopening, as this has not been fully resolved. We could try to support federated logout for most OIDC compliant providers out-of-the-box.

[2021-01-11 10:11] zvshka opened #1082 "Problem with database"
**Your question**
How to provide new values in mongodb with oauth2 provider?

**What are you trying to do**
I am using discord provider and i need id of user to search in my own database after auth, but i cant figure out how to get id of signed user
**Reproduction**

**Feedback**
*Documentation refers to searching through [online documentation](https://next-auth.js.org), code comments and issue hi

[2021-01-11 10:12] lnikell opened #1083 "Wrong env variables examples in .env.example for contributors"
**Describe the bug**
According to [Guide for contributors](https://github.com/nextauthjs/next-auth/blob/canary/CONTRIBUTING.md) we need to populate `.env.local` from `.env.example` which contains of

[code]
However inside this file we refer to variables such as GITHUB_ID and GITHUB_SECRET
https://github.com/nextauthjs/next-auth/blob/416d92c33f051c2a13219814e6deb6010e6462f5/pages/api/auth/%5B...nex

[2021-01-11 10:29] suraj10k commented on #1035
hey sorry i was a little busy due to exams. i have added the banner to the readme file . with the provided text, would you like the Vercel banner to lead to any specific website?

[2021-01-11 11:29] balazsorban44 commented on #1083
My bad. there is Yeah, I could have been more clear with the note under:

You can override any env variables you want, just remember to edit them in the `[...nextauth].js` file as well.

But yeah.. At least the .env.example should match the default configuration.

[2021-01-11 11:46] iaincollins commented on #1083
Ugh sorry this my fault for using `NEXTAUTH_GITHUB_ID` in some places.

The tests use these and I also have a secret (requires long winded explanation) reason for experimenting with that prefix  on env vars - tl;dr related to easier / automatic provider configuration, as well as dynamic behaviour of the tests themselves.

On a possibly unrelated note my view has been we should ideally avoid having

[2021-01-11 11:56] balazsorban44 opened #1086 "Improve contributing instructions on using tests"
As per @iaincollins's request https://github.com/nextauthjs/next-auth/pull/1085#issuecomment-757903043

We should better document the tests, and why/how are they useful.

[2021-01-11 11:57] #1083 closed

[2021-01-11 12:00] balazsorban44 commented on #1035
@suraj10k understandable! Thanks for getting back to this.

I guess we could link the user to `https://vercel.com?utm_source=[team-name]&utm_campaign=oss`

Could you open a PR on this already? It doesn't have to be finished, it would just make it easier to track your progess. 🙂

[2021-01-11 12:18] iaincollins commented on #1086
Thanks for the reminder!

[2021-01-11 13:52] suraj10k commented on #1035
ok i opened a PR

[2021-01-11 14:17] JanRuettinger commented on #167
I am in the same boat as you guys. My backend returns a JWT token and I only need the client-side management of NextAuth to manage that token. I am building something custom now.

[2021-01-11 15:01] balazsorban44 commented on #1079
@lawrencecchen Please do, just open a PR, so we can follow your progress! 🙂

[2021-01-11 15:34] mjewell commented on #855
I ran into this same problem too. Is it insecure to send the token secret back here `https://github.com/nextauthjs/next-auth/blob/5126f4e3428f2b4b8ebdd38b10066edfdd4ea2fa/src/server/lib/signin/oauth.js#L37`

And then send it back in the query params here https://github.com/nextauthjs/next-auth/blob/5126f4e3428f2b4b8ebdd38b10066edfdd4ea2fa/src/server/lib/oauth/callback.js#L19

[2021-01-11 16:47] FjolleJagt commented on #1077
I tested on next-auth@3.2.0-canary.20 and all seemed to work fine. Thanks again for the quick responses and all the work you're doing on next-auth, it seems a great package!

[2021-01-11 16:47] #1077 closed

[2021-01-11 16:51] zvshka commented on #1082
I have basic setup with database and without jwt

[2021-01-11 16:54] zvshka commented on #955
+1

[2021-01-11 17:09] zvshka commented on #1082
https://hastebin.com/fewofocudo.js - main page, where i need to get id and other staff
https://hastebin.com/bopexoxijo.js - [...nextauth].js file

[2021-01-11 17:51] bratsos commented on #569
@iaincollins Would you mind chiming in here and give your insights about the proposed solution, or what's the best way of achieving a unified authentication process in your opinion?

Ideally, I think everyone would love to be able to use the simplicity of a `useSession` hook, but I'm not sure I can imagine how this would work reliably with cookies/jwt on the expo/RN side without at least having th

[2021-01-11 20:56] balazsorban44 commented on #797
@KNIF thanks for this request, I think I found a way to implement this with a very low amount of code, and this will be soon available in the next `canary` release!

To try it out, you don't need to do anything. If you are on a system that supports the [`prefer-color-scheme`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme) media query, the pages will be dark now, if y

[2021-01-11 20:56] #797 closed

[2021-01-11 20:58] balazsorban44 commented on #797
@iaincollins do you think I should move this under `options.pages.theme` or is it ok to leave this top-level?

[2021-01-11 21:16] balazsorban44 commented on #843
Hi, there could you please elaborate a bit more on your use case?

[2021-01-12 00:05] balazsorban44 opened #1089 "Add missing error explanations to docs"
Currently, the [Errors documentation page](https://next-auth.js.org/errors) has missing/empty sections all over.

We should document when these errors occur and describe how to resolve them, if possible.

[2021-01-12 00:52] MousaZeidBaker commented on #1069
If you have some metadata that is only available in the signIn callback, how do you include that in the JWT? The signIn documentation says:

So how do I modify the JWT and make sure the `profile.sub` is available in the JWT?

[code]

[2021-01-12 01:49] mjewell commented on #569
Glad I could help. @Xodarap Can you describe a bit more what the issue was? I have been using it this way for a while and haven't had issues.

[2021-01-12 06:33] YuriFontella commented on #547
@arunoda managed to develop your idea?
Could you explain what type of token it generated within the session and how it validated in your api?

Appreciate.

[2021-01-12 08:25] styxlab commented on #922
Having exactly the same issue. I can change the custom route in the configuration (´pages: { verifyRequest: '/custom-url' }`) but would like to avoid an additional post request and display a success message without leaving the page.

[2021-01-12 12:56] balazsorban44 commented on #841
See #836

[2021-01-12 12:56] #841 closed

[2021-01-12 13:15] balazsorban44 commented on #773
This has been fixed through #790, and available in `next-auth@canary`.

[2021-01-12 13:15] #773 closed

[2021-01-12 13:24] balazsorban44 commented on #856
@LoriKarikari

It looks like this has been added already:
https://github.com/nextauthjs/next-auth/blob/ad791ea45c9cba11397bf3d50400f5c9cc68aee4/src/server/lib/oauth/client.js#L127-L129

Is the Reddit provider https://github.com/nextauthjs/next-auth/blob/canary/src/providers/reddit.js
still unfinished? ( The profile callback is commented out and there is a comment at the top

)

There is no documen

[2021-01-12 14:04] pleerock commented on #833
Fix should be available in the latest `typeorm` @0.2.30

[2021-01-12 15:44] afoyer commented on #856
@balazsorban44 I am about to create a reddit.md file for the doc page. The last time I checked (which was two months ago) everything seemed to be working including what was indicated in the commented profile section. I can also uncomment the callback and remove the top comment since the solution I provided was an answer to that.

[2021-01-12 15:46] balazsorban44 commented on #856
Awesome news! Could you please check if `3.2.0-canary-22`still works please? 😊 made some internal changes, but hopefully nothing is broken.

[2021-01-12 16:48] itxtoledo commented on #794
up

[2021-01-12 16:49] itxtoledo commented on #794
I'm trying to implement this but my sites are in subdomains of the main site, I believe that this way I can redirect the login to the main site and all subdomains will have access to the cookie

[2021-01-12 16:53] andrewscofield commented on #794
Yea I think it might be easier with subdomain, but like I gave as an example, envato does with different domains.

[2021-01-12 17:02] afoyer commented on #856
#1094 I got it to work but with a hack.
I had to add the Reddit provider to the index.js file in providers. I can't seem to find it on Github but it's there, somewhere.
Do you know why there's an index.js file when installing through npm but not in the repo (in src/providers)?

[2021-01-12 17:07] novelette17 opened #1095 "Transforming object received from OAuth authorization server on login"
**Your question**
Is it possible to transform an object received from an OAuth authorization server?

**What are you trying to do**
The problem is that my OAuth authorization server returns like this:
[code]
Both tokens are inside the "data" object. The authorization server is based on Symfony (php). If I use the above object format, then there are authorization issues. To avoid problems with auth

[2021-01-12 17:09] itxtoledo commented on #794
let's think about how to solve this, I would like to do something like it works on google services, you log into google and when you enter youtube you are already logged in

[2021-01-12 17:52] balazsorban44 commented on #1012
https://docs.npmjs.com/cli/v7/configuring-npm/package-json#peerdependenciesmeta Looks like it is in npm@7 now!

[2021-01-12 17:55] andrewscofield commented on #794
Well, I know how Envato does this, they use JWT. When I'm on themeforest.net and I sign in using my user/pass are sent to an API on account.envato.com and I gets me a token that I can use to request a JWT token. The JWT token is then sent to the user API in point on themeforest.net which generates a sessions with that domain.

![image](https://user-images.githubusercontent.com/358206/104349655-d18

[2021-01-12 18:13] balazsorban44 commented on #1095
Hi there! Thank you for creating this issue!

So in an effort to simplify the Provider API (#1022), we kind of wouldn't like to expose more and more options on the Providers left and right, that are one-offs for certain providers, and so we started to handle special cases internally instead. It is extremely easy when we have a known `provider.id`, but it might be a bit strange when we don't know a

[2021-01-12 18:37] #822 closed

[2021-01-12 18:43] novelette17 commented on #1095
Hi, Balázs Orbán! And thank you for answering! :-)

The problem is that the backend is based on Bitrix, the engine is quite outdated. At the moment, many of our microservices are configured for this object format. And changing the object format will create a lot of problems ...

You suggested a fallback in this form:
[code]

This would be the perfect solution for us. But what if someone has a diff

[2021-01-12 18:47] balazsorban44 commented on #1095
As said, the problem is not how to solve this problem, but how to solve this so it is future proof.

I'll try to get back to you at the weekend when I have talked to @iaincollins

[2021-01-12 18:58] andrewscofield commented on #794
https://arunoda.me/blog/add-auth-support-to-a-next-js-app-with-a-custom-backend

I think this article I found on the nextauth tutorial page is close to what I'm wanting, but not really a full example

[2021-01-12 19:39] #856 closed

[2021-01-12 19:57] JakubKoralewski opened #1097 "TypeOrm dependency installed while using Prisma"
**Describe the bug**
I see that typeorm is installed by "next-auth", even though I use Prisma. Shouldn't these including "nodemailer" etc be a peer dependency? I'm not an expert so just asking.

[code]

[2021-01-12 20:00] balazsorban44 commented on #1097
Good call, I'll discuss this with @iaincollins soon.

#1093 should fix this, if accepted.

[2021-01-12 20:57] samuelgoldenbaum commented on #603
This should not be closed as the issue still persists in Google and Facebook providers as per #532

[2021-01-12 20:58] itwasmattgregg opened #1098 "Prisma Adapter Create Session Error From Using Wrong ID"
https://github.com/nextauthjs/next-auth/blob/1a1a1f97214bedc7a2a0e092b168b331ffa6a64b/src/adapters/prisma/index.js#L163

I would submit a PR for this but want some context from maintainers on what might be going wrong because my solution might not be the right one.

I found an error using the Prisma adapter and google provider where creating a session when logging in after the first time creates a

[2021-01-12 21:18] SelfDevTV opened #1099 "Prisma Adapter: warn(prisma) findOne is deprecated. Please use findUnique instead"
Hi guy:

a little Bug I think.
When you use the Prisma adapter you get a few of these warnings in the console:

I think it has to do with this file / line: https://github.com/nextauthjs/next-auth/blob/1a1a1f97214bedc7a2a0e092b168b331ffa6a64b/src/adapters/typeorm/index.js#L230

[2021-01-13 00:01] daecide opened #1100 "Can it be used with load balancing?"
Can i use next-auth for my frontend If i have load balancing on it?
I mean, i am creating a website using next for frontend.
For security purpose, next-auth have this cool secure built-in session and i wanted to use it for my authentication.
Maybe someone else have ask of this issue or maybe it's an obvious answer, but I've been looking through the documentation and googling for this issue but i h

[2021-01-13 00:10] lawrencecchen commented on #1079
I've created a sample using Google's OAuth 2 [here](https://github.com/lawrencecchen/next-auth-refresh-tokens/blob/main/pages/api/auth/%5B...nextauth%5D.js).

However, I'm confused about the client's session response when using the `useSession()` hook (the tokens are fake):
[code]
Why does user.accessTokenExpires default to null? Is my example implemented correctly?

I'll PR the tutorial post in t

[2021-01-13 05:35] get6 commented on #893
I think you already resolved this problem.

For finding the same problem here is the answer.

add options in [...nextauth].js
`
  callbacks: {
    redirect: async (_url: string, baseUrl: string) => {
      return Promise.resolve(`/dashboard`);
    },
  },
`

[2021-01-13 10:05] timsoraro commented on #833
I still have the same problem ):

`[...nextauth].js`
[code]

`.env`
[code]

`package.json`
[code]

[2021-01-13 12:59] commandodev commented on #435
Sorry to bump a closed ticket, but I'm also struggling with getting Hasura set up. @ghoshnirmalya - how did you set up the `HASURA_GRAPHQL_JWT_SECRET` variable?

[2021-01-13 13:59] dcantatore opened #1102 "Add data to Session callback for Credentials provider"
**Describe the bug**
When running the authorize function for a custom Credentials provider I return/resolve with an object such as:
[code]

However all of the data here is not persisted except for the name, email, and picture. I have noticed that I can access it in the signIn callback, and for some reason only in the first time the jwt callback runs.

From what I'm reading and the other bug report

[2021-01-13 14:16] timshingyu commented on #1099
@SelfDevTV I also got the same error using Prisma Adapter.
My next-auth version is 3.1.20
After digging through the code, it's seems the 3.1.20 Prisma adapter still using `findOne`. But the main branch already has this fixed.
try to reinstall the package to using the lastest one, it should get rid of this error message.
[code]

[2021-01-13 14:57] JamesMAWalker commented on #642
I'd also be curious to know if this narrowing down of the url path is sufficient to prevent any security issues.

[2021-01-13 15:09] SelfDevTV commented on #1099
Hi @timshingyu

You shure about that. The main branch says this:

I hope it's not bricking anything else :D
I'll give it a try

[2021-01-13 15:11] timshingyu commented on #1099
@SelfDevTV should be `canary` instead.

[2021-01-13 15:36] HeikoMueller opened #1103 "Unhandled Runtime Error TypeError: message is null"
**Describe the bug**
When using Nextauth with Credentials Provider and JWT in dev mode and in conjunction with cypress, the following error message gets thrown:

Unhandled Runtime Error

TypeError: message is null
Call Stack
_ref<
node_modules/next-auth/dist/client/index.js (47:0)
asyncGeneratorStep
node_modules/next-auth/dist/client/index.js (22:82)
_next
node_modules/next-auth/dist/client/index.

[2021-01-13 15:39] SelfDevTV commented on #1099
`yarn add next-auth@next` fixes the issue. What branch is the release branch anyone knows?

[2021-01-13 18:24] balazsorban44 commented on #1099
Our default branch is `canary`, our npm channel is also `canary`!

[2021-01-13 18:26] #1099 closed

[2021-01-13 18:28] #1035 closed

[2021-01-13 18:54] itxtoledo commented on #794
in the next few days i will try to implement this on my sites, i will keep you informed of how i will do

[2021-01-13 22:57] skilesare opened #1104 "Nginx always returns 304 for /api/auth/session with empty session"
**Your question**
How do you properly set up nginx as a https proxy infront of a next.js application using next-auth?

**What are you trying to do**

TLDR: I always get back a 304 from /api/auth/session with an empty object when I use a nginx proxy in front of my app.

My application works great when using it from http:.  The application calls /api/auth/session and gets the response back with no p

[2021-01-13 23:45] skilesare commented on #1104
Things to add:

If I do a simple browser GET to https://mydomain.com/api/auth/session, I get the session object json with no problem. When I look at the network tab in chrome, there is a 200 response...but if I refresh I get the object and  a 304! Maddening.

The only differences between the request headers are that the manual request has

    Accept: text/html,application/xhtml+xml,application/xm

[2021-01-14 00:28] skilesare commented on #1104
Looks like the issue was with my multi-tenant code.  I was checking for https in my base url like this:

     if( (req.headers.referer && req.headers.referer.split("://")[0] == 'https') || (req.headers['x-forwarded-proto'] && req.headers['x-forwarded-proto'] === 'https')){
        //console.log('setting proto to https signin')
        protocol = 'https'
      }

Turns out I had a case issue in my

[2021-01-14 00:28] #1104 closed

[2021-01-14 00:40] ChGGse opened #1106 "Try signing with a different account. - Callback error"
**Describe the bug**
When trying to sign in to GitHub it says "Try signing with a different account."

**Steps to reproduce**
- Clone orangopus/libby
- click "Login"
- Click "Sign in with GitHub"

Make sure to include the client ID and secret in .env as `GITHUB_ID` and `GITHUB_SECRET`

**Expected behavior**
I expected it to login and return to the app.

**Screenshots or error logs**
The error is
!

[2021-01-14 00:40] ChezCodes opened #3830 "Try signing with a different account. - Callback error"
**Describe the bug**
When trying to sign in to GitHub it says "Try signing with a different account."

**Steps to reproduce**
- Clone orangopus/libby
- click "Login"
- Click "Sign in with GitHub"

Make sure to include the client ID and secret in .env as `GITHUB_ID` and `GITHUB_SECRET`

**Expected behavior**
I expected it to login and return to the app.

**Screenshots or error logs**
The error is
!

[2021-01-14 01:27] balazsorban44 commented on #1106
Please provide more context, (preferably a full reproduction repository with a link) otherwise we cannot help you.

[2021-01-14 01:32] balazsorban44 commented on #1106
Could you maybe set `debug: true` in your `NextAuth ` options, and see if anything useful comes up in your console then? Also, what's the url of the page you are seeing the "Sign in with a different account" warning on?

[2021-01-14 02:35] ThewBear commented on #781
This could fix #532

[2021-01-14 03:40] wrod7 commented on #429
@BrendyRyan thanks for your example. how can i merge or link an account if someone already signed up with their microsoft email and then tries to use the microsoft provider sign in?

im getting this error: &error=OAuthAccountNotLinked#

[2021-01-14 03:46] Xodarap commented on #569
I'm honestly not sure; I've experienced this with normal next auth once or twice as well. Basically, somehow the browser gets multiple copies of the session token cookie, and then next auth only looks at the first one (which I think is the oldest), so it doesn't work.

I assume it's supposed to be impossible to have multiple cookies at the same time; I'm not sure how it happens.

[2021-01-14 07:00] ChGGse commented on #1106
Found the issue! User was already created so it was throwing an error.

[code]

[2021-01-14 07:08] ChGGse commented on #1106
Getting a new error now...

[code]

[2021-01-14 10:14] timsoraro opened #1108 "Error connecting to Atlas database using provided example"
I'm not sure if it's a problem with next-auth or my configuration. I'm trying to implement this example repo https://github.com/nextauthjs/next-auth-example using mongodb.

I setup a mongo database on Atlas. These are my files:

.env

[code]

Of course, I changed the real values.

/pages/api/[...nextauth].js

[code]
When running 'npm run dev` I get to the login page but when I submit an email addr

[2021-01-14 12:11] pandydavey commented on #717
Hi @chrishornmem i've taken what you have an changed it a little bit. The core is there, just a few tweaks really

[code]

[2021-01-14 12:12] pandydavey commented on #717
For those wondering:
`const cookieSplitKey = cookieValue.match("|") ? "|" : "%7C";` is there because the value seems to be URL encoded on Vercel.

[2021-01-14 12:17] pandydavey commented on #717
Oh and dont forget that:

`const secret: string = process.env.APP_SECRET_STRING;`

needs to be the same value as the secret sent to NextAuth setOptions

[code]

[2021-01-14 14:43] onefineplayandy commented on #717
ok, final update here. I've just been testing this on vercel and i had some issues. Turns out that the url i store as an env (which is the vercel_url) doesnt include the protocol. So you can do one of two things i reckon.

1. Check the vercel env (process.env.VERCEL_ENV) and ensure you arent local (unless local is ssl)
2. Add a new env variable with true value on prod / preview for isSSL. So somet

[2021-01-14 14:44] pandydavey commented on #717
ok, final update here. I've just been testing this on vercel and i had some issues. Turns out that the url i store as an env (which is the vercel_url) doesnt include the protocol. So you can do one of two things i reckon.

1. Check the vercel env (process.env.VERCEL_ENV) and ensure you arent local (unless local is ssl)
2. Add a new env variable with true value on prod / preview for isSSL. So somet

[2021-01-14 15:01] timshingyu commented on #596
In case someone looking for a workaround. I just replace useSession hook and use `useSWR` library instead.

[code]

[2021-01-14 16:49] trulymittal opened #1110 "How to use next-auth api endpoints (signin/signout) from a mobile app"
**Your question**

How to use `next-auth` API endpoints (signin/signout) from a mobile app, to make the user signin/signout so as to consume the API created in NextJS from mobile apps?

**What are you trying to do**
*I have a doubt/question?*

- Since Next.JS provides us with an API, which means that we can completely skip the backend server and can create an API using Next only. And that API can

[2021-01-14 18:51] alextseitlin opened #1111 "How to add a custom login email template?"
**Your question**

I want to change this template. Is there an example?
![image](https://user-images.githubusercontent.com/13120976/104634477-5b877d80-56a9-11eb-9da5-9fd8bf37e4e8.png)

I understand that the email through "sendVerificationRequest" https://next-auth.js.org/providers/email#customising-emails but it is not working for me. Are there any examples I can check?

**Feedback**
Could not fin

[2021-01-14 18:54] alextseitlin commented on #1111
I tried adding verifyRequest like this
[code]

With this same code here https://github.com/nextauthjs/next-auth/blob/1838e43b275fa36b1eb7bd046eead6795cfd0f2d/src/server/pages/verify-request.js but I get an error "Cannot read property 'replace' of undefined"

[2021-01-14 21:32] ChGGse commented on #1106
Still getting the session error. Any updates?

[2021-01-14 22:22] pjbss commented on #499
_An additional wrinkle in this problem._

If you are using a basePath for your application, and after logging in a user they get redirected to `/` and not the basePath, this is for you.

We are working with Azure B2C, and created a custom provider based on a great example, https://benjaminwfox.com/blog/tech/how-to-configure-azure-b2c-with-nextjs.

It worked like a charm until we needed to serve th

[2021-01-14 23:25] balazsorban44 opened #1112 "use native node hkdf"
Inspired by https://github.com/auth0/express-openid-connect/pull/177, we could also get rid of the `futoin-hkdf` dependency conditionally.

[2021-01-15 01:10] balazsorban44 commented on #1111
What do you mean it is not working for you? Do you have a public repository or a reproduction of this?

[2021-01-15 01:12] gtodd876 commented on #484
I'm using TS and confused about signing key based off of the types. There's the JWTOptions Interface:
[code]
everybody in this thread is using `signingKey` directly within the jwt object but there are only signingKey properties within the encode and decode params. Does this type just need to be updated with `signingKey: string;` ?

[2021-01-15 01:42] koolii commented on #1112
I would like to tackle this issue :)

[2021-01-15 03:19] schonert commented on #429
@BrendyRyan that last summary of your implementation is gold - thanks soo much for following up!

For some reason the profile method is not being called - have anyone else experienced this?
With the exact same implementation as above i end up with a session containing
[code]

[2021-01-15 03:36] schonert commented on #429
Disregard the question above - its 4am.. I was expecting the profile log to show up in the browser - not the terminal running the api...

[2021-01-15 09:10] timsoraro commented on #1108
I solved the issue by using a new user different than admin. But I don't see users' data being saved to my database.

[2021-01-15 10:00] timsoraro commented on #1108
I somehow solved the problem by adding:

[code]

[2021-01-15 10:00] #1108 closed

[2021-01-15 12:05] balazsorban44 commented on #1108
@timsoraro which version of `next-auth` are you using?

[2021-01-15 12:28] balazsorban44 commented on #1112
@koolii poease do! Just open a PR and link to this issue, so we can follow your progress. 🙂

[2021-01-15 13:58] timsoraro commented on #1108
I'm using "^3.1.0".

[2021-01-15 14:09] timsoraro commented on #1108
Okay, you are right, it's not that. I'm not really sure what solved it.

[2021-01-15 14:16] timsoraro commented on #1108
Okay I noticed that this will cause the problem I reported orginially:
[code]

Which is solved by:
[code]
But i got ot say it didn't work when I tried before (so maybe something in my URI got fixed?).

[2021-01-15 17:34] novelette17 opened #1115 "Typescript support planned?"
**Your question**
I want to use next-auth with Typescript. As far as I can see there is no Typescript support right now. There is not even a type declaration file yet (*.d.ts files)

**Feedback**
*Documentation refers to searching through [online documentation](https://next-auth.js.org), code comments and issue history. The example project refers to [next-auth-example](https://github.com/iaincolli

[2021-01-15 19:21] balazsorban44 opened #1116 "Remove the v1 documentation"
Version 1 of `next-auth` has not been supported for a while, it should be removed from the documentation page to avoid confusion.

[2021-01-15 21:24] balazsorban44 commented on #1115
Feel free to open a PR and help the community, we would be glad! :)

In the meantime, check this out: https://next-auth-git-canary.nextauthjs.vercel.app/getting-started/typescript

[2021-01-15 21:24] #1115 closed

[2021-01-16 00:42] gergelyke opened #1121 "Allow server-side calls to use a different URL other than NEXTAUTH_URL"
**Summary of proposed feature**

Allow server-side calls to use a different URL other than `NEXTAUTH_URL`.

**Purpose of proposed feature**

We'd like to use NextAuth in an environment where Pods running Next.js apps don't have access to call into `NEXTAUTH_URL`.

**Detail about proposed feature**

I am not sure - however, if you can give me a few pointers, I'd be happy to take a stab at this.

**

[2021-01-16 00:45] gergelyke commented on #1121
Seems to be related to https://github.com/nextauthjs/next-auth/issues/947

[2021-01-16 00:45] balazsorban44 commented on #1110
Hi there! So I'm not sure if I understand, but you would like to sign in to a native mobile app with next-auth?

I'm not entirely sure if it's possible. At the very least you will need a web app, as the signin page will send you html if you do a GET request, or will check for cookies if you send a POST request. I'm not aware that cookies are a thing outside of web apps, but please do link me to so

[2021-01-16 00:50] balazsorban44 commented on #429
This is available in the canary release, see the config: https://www.github.com/nextauthjs/next-auth/tree/canary/src%2Fproviders%2Fazure-ad-b2c.js

Also, it looks like @BrendyRyan anwered it here: https://github.com/nextauthjs/next-auth/issues/429#issuecomment-716884585

[2021-01-16 00:50] #429 closed

[2021-01-16 01:21] balazsorban44 commented on #947
So I had some thoughts on this.

Reusing the options is as simple as moving it into a different file and export it from there. 🙂

getSession is mostly designed to be used from `getServerSideProps`. I cannot remember which thread it was, but the problem is that we cannot access the cookies from there if I remember correctly, which makes it necessary to call the

/api/auth/session

 endpoint.

You m

[2021-01-16 01:49] centerjustified commented on #1108
I am seeing the same issue with mongoDB hosted on Atlas.  @timsoraro does your URI just `mongodb+srv://user:password@xxxx.xxx.mongodb.net/db_name` or are you also including any other flags?  Because that doesn't seem to be solving it for me.

[2021-01-16 02:39] gergelyke commented on #1121
@balazsorban44 would this approach make sense? https://github.com/nextauthjs/next-auth/pull/1123

[2021-01-16 08:03] sfourdrinierlark commented on #1121
I like that approach and the PR in #1123 . It also solves on paper a problem we have. Need a way to have a different serverside vs client side NEXTAUTH_URL.

The use case where we have problems is next.js in a Kubernetes cluster. Calling back serverside the production website doesn't work, whether calling back (in our case localhost:3000) would work.

[2021-01-16 08:05] #525 closed

[2021-01-16 08:57] timsoraro commented on #1108
@centerjustified yep, just like that without any flags. Did you try using a new user that is not the admin (just throwing some ideas here)?

[2021-01-16 10:10] HeikoMueller commented on #1103
I solved the issue with adding:

  beforeEach(() => {
    Cypress.Cookies.preserveOnce(
      "next-auth.session-token",
      "next-auth.csrf-token",
      "next-auth.callback-url"
    );
  });

[2021-01-16 10:10] #1103 closed

[2021-01-16 10:20] thongphamvn commented on #535
@trivektor You may want to check this https://github.com/nextauthjs/next-auth/discussions/536#discussioncomment-154389, note that the `user` object is only available on sign in

[2021-01-16 10:24] trulymittal commented on #1110
Yes, I want to sign-in using a native mobile app, to utilize the full power of Nextjs, since it has API routes also.

Secondly, we can handle cookies on mobile apps, but that comes with a lot of overhead so therefore we use jwt tokens, which by far is easy to implement.

**Let me explain, what I am trying to ask or may a feature request!**
Suppose I have made an app using NextJs, we can include bo

[2021-01-16 10:28] HeikoMueller opened #1125 "Runtime error "Cannot read property 'event' of null" when testing with Cypress"
**Describe the bug**
When using NextAuth in conjunction with Cypress in next dev mode, occasionally an unhandled runtime error "TypeError: Cannot read property 'event' of null" shows up.

**Steps to reproduce**
Run Cypress test with running local Next dev server (npm run dev). Sign in using Cypress ui handler with credentials on /api/auth/signin, then test protected api routes and/or protected pag

[2021-01-16 11:27] sunrunner4kr-simon opened #1126 ""UnhandledPromiseRejectionWarning: TypeError: Cannot read property '0' of undefined" error when connecting to http://localhost:3000/api/auth/signin"
**Your question**
UnhandledPromiseRejectionWarning: TypeError: Cannot read property '0' of undefined when visiting http://localhost:3000/api/auth/signin

**What are you trying to do**
I'm trying to set up a simple user authentification with MongoDB following this tutorial - https://blog.logrocket.com/using-authentication-in-next-js/
Getting the below error when visiting http://localhost:3000/api/a

[2021-01-16 14:35] gergelyke commented on #1121
This is our exact use-case as well

[2021-01-16 15:06] rasha-rahman123 opened #1127 "typescript - How do I add custom type definitions to user in session"
**Your question**

How do I add extra type definitions for user (name, email, image) in session?

**What are you trying to do**

In my [...nextAuth] file, I have a callback that adds the user Id to the session, so when I use [session] I can access the ID from session.user.id. The only problem is, typescript is giving me troubles because id is not a typed defined variable, so I cannot build unless

[2021-01-16 15:37] balazsorban44 commented on #1127
Hi there! If you define your own types, I think you can just re-export everything and override only the parts you need to, and it should work. 😉

[2021-01-16 15:38] #1127 closed

[2021-01-16 18:34] Rykuno opened #1130 "Session undefined upon initial login"
**Describe the bug**
Upon initial login with a provider, the session returned from `AppProps` within `_app.js` is undefined. Refreshing the page fixes the issue and causes the session to reflect its correct value. I'm also unsure if this is related to the issue but some providers append a `#` to the url subsequently removing the ability to perform `signout` right after login.

**Steps to reproduce

[2021-01-16 19:09] ovo commented on #1106
Experiencing this as well. Ref: #1119

[2021-01-16 19:47] centerjustified commented on #1108
@timsoraro originally I was using an admin user.  Created a new next-auth user with access to just the one database.  That didn't solve the issue.  I appreciate you throwing out ideas.  Are you using the same user for your general data connections and your auth connections?

[2021-01-16 20:09] pbteja1998 opened #1131 "Session not being persisted when I close the browser"
Hi, Is there a way to persist the session? As soon as I close the browser, the user is being logged out.

When I saw the cookies that are set, I see `Expires/Max-Age` value of `next-auth.session-token` set to `Session`. I am using the default configuration. By default, I assumed the max-age will be set to 30 days as per documentation. But that doesn't seem to be the case. Am I missing something?

[2021-01-16 21:33] bryan commented on #531
@zenflow I'll leave it open, but my issues were resolved separately. If you want to create a new issue and tag this one, I'd be happy to close this on your behalf.

[2021-01-16 22:17] balazsorban44 commented on #1131
Hi there, could you create a reproduction for this, cause what you are saying does not hold up:
![image](https://user-images.githubusercontent.com/18369201/104824307-ddfe7180-5850-11eb-8e3f-97d1629eb34d.png)

The session token WILL by default expire in 30 days. In addition, any time the /api/auth/session endpoint is invoked, the session will be updated for to expire the next 30 days from the momen

[2021-01-16 22:24] balazsorban44 commented on #1130
Hi there. I guess it is communicated badly on our side, but simply adding a `Provider` in the `_app` file won't magically add any session. The props provided to the `_app` component must come from somewhere. In this case, either from `getInitialProps` or `getServerSideProps`.

Eg.:

[code]

This then will be available through `pageProps.session`, and this is the value you have to provide to the `P

[2021-01-16 22:27] balazsorban44 opened #1132 "Explain how to populate Provider in _app"
In the current version of the docs https://next-auth.js.org/getting-started/client#provider we do not explain how the `pageProps.session` prop is populated. It is not something that comes magically by `next-auth` as explained here: https://github.com/nextauthjs/next-auth/issues/1130#issuecomment-761689414

Simply adding a `Provider` in the `_app` with a `session={pageProps.session}` file won't mag

[2021-01-16 22:32] #1130 closed

[2021-01-16 22:34] balazsorban44 commented on #1130
As the original question has been answered, I closed this issue. I am not aware of the second problem with that "#" problem, but if you do need further help with that, could you please separate it out into a different issue, desirably with a reproduction repository linked to it.

[2021-01-16 22:38] balazsorban44 commented on #1125
Hi there, it doesn't sound like a `next-auth` issue, rather something with your setup. Also, you had the same issue, which you closed and answered here: https://github.com/nextauthjs/next-auth/issues/1103#issuecomment-761538419 I assume this one has been opened with an accident or such. If not, do tell!

[2021-01-16 22:40] pbteja1998 commented on #1131
@balazsorban44
Hi, you can take a look at https://github.com/pbteja1998/nextjs-starter

<img width="924" alt="Screenshot 2021-01-17 at 4 07 43 AM" src="https://user-images.githubusercontent.com/17903466/104824651-a5bf5900-5879-11eb-94f7-16bf8457ad08.png">

This might be related to the new Fauna adapter that is in the works.

Here is my fauna adapter file - https://github.com/pbteja1998/nextjs-star

[2021-01-16 22:41] balazsorban44 commented on #1126
Hi there, could you maybe show us your `[...nextauth.js]` file?

[2021-01-16 22:50] balazsorban44 commented on #1131
Yeah, I guess it is some kind of calculation issue on the session age. I think the session age is somehow set to a lower value than the current date, in that case, the max-age will be set to `Session`. I would start debugging where this goes wrong.

[2021-01-16 22:52] pbteja1998 commented on #1131
Where is this calculation being done? Is it in the fauna adapter file or in some other file in next-auth codebase?

[2021-01-16 22:55] balazsorban44 commented on #1131
In the adapter, the one you just linked. I would check the `updateSession` function to begin with.

Also, here is the code being called when calling the `/api/auth/session` endpoint:

https://github.com/nextauthjs/next-auth/blob/78fd783bac990d8f2109487ac6598a38e3173f40/src/server/routes/session.js#L61-L94

As you can see, this should update the cookie expiry whenever session is accessed. In case t

[2021-01-16 22:59] pbteja1998 commented on #1131
Ok, thanks. Will try to debug. If you were able to figure it out before me, please update it here.

[2021-01-16 23:05] pbteja1998 commented on #1131
Found it in the below line.
https://github.com/pbteja1998/nextjs-starter/blob/master/src/adapters/fauna/index.ts#L284

It should be `session.data.expires` not `session.expires`

[2021-01-16 23:08] pbteja1998 commented on #1131
Changing it like above did not fix it.

[2021-01-16 23:10] balazsorban44 commented on #1095
So after a talk, we agreed that we could maybe provide better, more flexible "hooks" into different stages of the OAuth process with provider options. Although it might not be included in the next release, since this requires us to think thoroughly through where do we want the users to be able to override things.

As a workaround, I suggest you write a script that adds the changes you need before

[2021-01-16 23:10] #1095 closed

[2021-01-16 23:36] pbteja1998 commented on #1131
@balazsorban44 I was able to fix it. Thanks for pointing out the relevant code.

Here is the diff:
https://github.com/pbteja1998/nextjs-starter/commit/9d885ae5d88e443fe6d1a3e69ddcd6e99e6c9470

[2021-01-16 23:39] balazsorban44 commented on #1131
Awesome!

[2021-01-16 23:39] #1131 closed

[2021-01-16 23:41] balazsorban44 commented on #1131
@ndom91 Should this be dealt with in the Fauna adapter we introduced in #708?

[2021-01-16 23:47] pbteja1998 commented on #1131
Tag me if necessary. I am happy to open up PR with these additions.

[2021-01-16 23:57] ndom91 commented on #1131
@balazsorban44 yeah I'd say update that file in the fauna adapter. This only affects that adapter, right?

Good work @pbteja1998

[2021-01-17 00:08] balazsorban44 commented on #1131
As far as I know. (haven't tested other adapters). @pbteja1998 then we would be glad to accept a PR from you to fix this! 🙂

[2021-01-17 00:10] pbteja1998 commented on #1131
I'm on it.

[2021-01-17 00:21] eliooses-zondax opened #1133 "All login attempts on a Firebase server end at http://localhost:3000/api/auth/signin/:provider"
**Describe the bug**
All login attempts on a Firebase server end at `http://localhost:3000/api/auth/signin/:provider`

**Steps to reproduce**
1. Download the Next Auth Example: https://github.com/nextauthjs/next-auth-example
2. Put the code into a Firebase ready to deploy project (good luck with that)
3. Predeploy & Deploy to Firebase
4. Visit page
5. Try to login with any provider

**Expected beh

[2021-01-17 00:22] eliooses-zondax commented on #1133
Any help, workaround, patch or idea that can be done to solve this problem will be appreciated and if the media allows it, rewarded with a beer or coffe.

[2021-01-17 00:36] pbteja1998 commented on #1131
@balazsorban44 Opened the PR at #1134

[2021-01-17 07:47] sunrunner4kr-simon commented on #1126
Hey, here is its

![image](https://user-images.githubusercontent.com/58920692/104834565-2bea9800-5898-11eb-8afa-487725998a30.png)

[2021-01-17 08:20] balazsorban44 commented on #1126
Could you please remove the site option?

Since 3.x, there is no need to pass it as an option:

https://next-auth.js.org/configuration/options#nextauth_url

just set the NEXTAUTH_URL correctly. What is the value of that env variable for you?

[2021-01-17 08:43] balazsorban44 commented on #1133
So the /api/auth/signin/<provider>

endpoint only accepts POST requests, with a CSRF token in place in the request. see the docs:

https://next-auth.js.org/getting-started/rest-api#post-apiauthsigninprovider

You can go to /api/auth/signin to get a list of  providers to log in with one of them, or you can use the client side method `signIn` that properly sets the CSFR token for you. See the docs:

[2021-01-17 09:31] timsoraro commented on #1108
Yes. Throwing more ideas:

1. I also did `npm cache clean --force`.
2. I just noticed something weird, migrating the code to a different project it didn't work again until I deleted 2 passport packages in package.json. So maybe make sure you don't have conflicted packages?

[2021-01-17 11:25] HeikoMueller commented on #1125
Hi @balazsorban44 , you are right, I had a similar issue before, which I handled with preserving the next-auth cookies in Cypress setup. However, this error warning here is slightly different. In the first one, message was missing. Here it is complaining that it cannot read property 'event' of null. This issue does not have a high impact, since tests are running. However, would be nicer if these w

[2021-01-17 11:30] balazsorban44 commented on #1125
It would help if you showed your setup first. But on a side note, I haven't used Cypress for testing myself.

[2021-01-17 11:54] HeikoMueller commented on #1125
Sure. I have no public git repository though. The overall setup is as described under "context":

node v14.15.1
npm 6.14.10
next: "10.0.1",
next-auth: "^3.1.0",
and for Cypress:
Cypress package version: 6.2.1
Cypress binary version: 6.2.1
Electron version: 11.1.1
Bundled Node version: 12.18.3

My cypress.json looks like:

`{
    "baseUrl": "http://localhost:3000",
    "ignoreTestFiles": ["*.hot-up

[2021-01-17 13:43] sunrunner4kr-simon commented on #1126
Thanks!
Removed that

![image](https://user-images.githubusercontent.com/58920692/104844754-ea72e080-58c9-11eb-944b-440a299841fb.png)

Here's my .env.local

![image](https://user-images.githubusercontent.com/58920692/104844738-d202c600-58c9-11eb-911b-e17566ba510c.png)

Still getting the same error

[2021-01-17 15:47] gergelyke commented on #1121
@sfourdrinierlark for the time being it's published as `@gergelyke/next-auth@1.0.0`, in case you want to play around with it

[2021-01-17 15:48] gergelyke commented on #1121
@balazsorban44 feel free to assign this issue to me - I'll take care of it, either with that PR I sent, or if you folks have a different proposal, I'd be more than happy to take a stab at that as well

[2021-01-17 20:40] lnikell commented on #1070
@c7nasr
1 - Check the source code of the next-auth, on your backend you have to reproduce exactly the same verification logic as the next auth does on their side.

https://github.com/nextauthjs/next-auth/blob/2f88880ee39e17012d4fc5ccdefe04016471a34b/src/lib/jwt.js#L90

I guess you can't verify it on your backend because you don't have a correct signing key.

If you have only `secret` set as a stri

[2021-01-17 21:24] #1112 closed

[2021-01-17 23:06] eliooses-zondax commented on #1133
Hi @balazsorban44 thanks for the reply.

I tried that and many others things, but making `signIn("github")` the result is this error:

`https://github.com/login/oauth/authorize?redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fapi%2Fauth%2Fcallback%2Fgithub&scope=user&state=798aba0b20c573bcdcfa0e6d06a46e006d02c6cd85f42e26f5b96139b4ab4933&client_id=`

And in the case of making `signIn("google")` the res

[2021-01-17 23:25] balazsorban44 commented on #1126
is this only happening for the /api/auth/signin url, or any other will have the same issue, like /api/auth/session for example?

[2021-01-17 23:29] balazsorban44 commented on #1102
Hi there! So for anything else to be available in the session callback, it must go through the jwt callback first.

On the first time the jwt is created, you will have all the info you need through the additional params on the jwt callback. Simply do an if check and return a token with the data you need, and return the token as is otherwise. Than you can check the second param of session, which wi

[2021-01-17 23:29] #1102 closed

[2021-01-17 23:32] balazsorban44 commented on #1097
So after a talk with @iaincollins ,we decided that it would probably be a breaking change to remove this, so we will wait until the next release. I'm going to close this issue for now but don't worry, I noted this, and I can assure you that the next major release will deal with this in a better way. (we will probably proceed as #1093, just wait out until the next major release with it)

[2021-01-17 23:32] #1097 closed

[2021-01-17 23:45] balazsorban44 commented on #1065
Hi there, I don't think this is a big, but rather wrong documentation. I think we should change the docs to say these are not optional values.

Could you tell me a usecase for logging into a provider and not getting user info is useful? I might be missing something but would like to hear.

[2021-01-17 23:51] balazsorban44 commented on #947
So after stumbling upon this tweet thread https://twitter.com/Design__Pattern/status/1350889333960568833?s=19

I think I finally understand your idea/proposal here, thanks! We'll have to rethink this again!

[2021-01-17 23:52] jackHedaya commented on #1065
Hmm I'm not sure if it's fair to assume everyone is using a profile. Personally, I'm using a provider primarily for authentication rather than needing their actual user data. I use the user data as well, but I'm not sure it should be enforced by NextAuth.

[2021-01-18 03:24] eliooses-zondax commented on #1133
I have tried more than 15 examples, all with different implementations, most of them work perfectly locally and in development mode and I can log in.

But in all, without exception, once deployed in Firebase it ends up with the same error.

I can understand that this is a Firebase problem and not NextAuth, but what can it be?

I have thought that the problem may be in the environment variables use

[2021-01-18 05:11] alexbudure opened #1141 "Dynamically adding query parameters to the Google authorization URL (e.g. the hd param)"
**Summary of proposed feature**
Dynamically adding query parameters to the Google authorization URL using the `signIn` method

**Purpose of proposed feature**
I have a sign-in page that's just an email input and sign-in button. Once the user fills out their email and clicks sign-in, I'd like to be able to give them a better experience by providing them a more concise Google prompt through the [hd

[2021-01-18 07:55] thulstrup commented on #685
@balazsorban44 I tried cloning the `next-auth-example` and then replacing `next-auth` in `nodes_modules` with a version I build from the `feature/pkce` branch.

When I try to sign in with IdentityServer4 I'm redirected to this url (notice the `[object Object]`).
`https://demo.identityserver.io/connect/[object%20Object]?code_challenge=d5MWEkc-lpczVadZp9YjMIHwn28fcGwzzxShhLGtS5U&code_challenge_metho

[2021-01-18 08:11] balazsorban44 commented on #1133
Please, make sure you have set the NEXTAUTH_URL correctly, and you configured the callback url in your Google and github apps.

[2021-01-18 08:14] 96RadhikaJadhav commented on #1116
@balazsorban44  Can I work on the issue?

[2021-01-18 08:21] balazsorban44 commented on #1116
Yes please! 🙂

[2021-01-18 08:22] sunrunner4kr-simon commented on #1126
It's not happening on other pages, just /api/auth route. So I get the same error with /api/auth/session

[2021-01-18 08:25] balazsorban44 commented on #685
Thanks @thulstrup, this is useful! I think I can see the issue. I'll hopefully be able to check this later today, and I'll let you when you could try this again?

[2021-01-18 08:26] thulstrup commented on #685
Sure, that would be great.

[2021-01-18 08:36] fromi commented on #947
I have an error from time to time in my logs indicating this scenario. It is quite rare though, mostly it happens during server startup.

The main issue really is the JWT cookie update, which will not be reflected in the browser when it happens inside the inner call.
Here is one scenario where it is really annoying:

- Put the username inside the JWT cookie, so that it can be displayed without any

[2021-01-18 10:27] iaincollins commented on #947
This is not a bug, this is absolutely by design and there are a few reasons why it's like this. Pulling in NextAuth.js and database logic into every single route running server side is not desirable, especially on edge clients and on systems with more complex architecture. If we did this it would be impossible to deploy NextAuth.js in some contexts (e.g. edge networks).

I have no plans to migrate

[2021-01-18 11:19] chalkplum commented on #579
(node:31160) UnhandledPromiseRejectionWarning: ReferenceError: window is not defined
    at C:\Users\markh\OneDrive\Documents\code\webclients\react\nextjs\tests\firstnextjs\node_modules\next-auth\dist\client\index.js:279:69
    at Generator.next (<anonymous>)
    at asyncGeneratorStep (C:\Users\markh\OneDrive\Documents\code\webclients\react\nextjs\tests\firstnextjs\node_modules\next-auth\dist\clie

[2021-01-18 12:56] dcantatore commented on #1102
@balazsorban44

Thanks for the reply, is this a safe/good way to attach the data:

[code]

[2021-01-18 13:44] balazsorban44 commented on #1102
Yes, if you ask me though, I would write it like this:

[code]
(Then when you access the session, everything user related would be available on the `session.profile` property, it is more organized for my taste.)

You don't need to wrap the return result in `Promise.resolve()` in any case. 😉

But nothing wrong with yours either.

[2021-01-18 14:36] dcantatore commented on #1102
If we are building a larger session object with some other "fetched" data, is the most efficient place to do so in the jwt callback - such as in that initial conditional?

[2021-01-18 14:52] balazsorban44 commented on #1102
Most browsers has a limit of 4096 bytes per cookie. as long as you don't exceed that, you are good.

[2021-01-18 15:16] lnikell opened #1144 "Separate Session and JWT concepts"
**Summary of proposed feature**
I could be wrong, but after reading more and more codebase, I understand where the confusion comes at least to me.  Next auth uses 2 different concepts `sessions`  and  `jwt` by calling from a client perspective everything as a `session`.

The session is the concept where the server stores information about the given user session and can verify it either by accessin

[2021-01-18 15:31] eliooses-zondax commented on #1133
This is OK in my code and set.

In the other hand, if the signIn function already performs the CSRF implementation, then I insist with my previous three alternatives.

I will try to deploy the App in another environment and thus rule out that it is a problem between NextAuth and Firebase.

Otherwise, I kindly ask you to re-tag the issue as a bug. Or simply that you refer me to some starter or exam

[2021-01-18 18:28] #1116 closed

[2021-01-18 18:51] balazsorban44 commented on #833
this is available in the latest canary release!

[2021-01-18 18:51] #833 closed

[2021-01-18 18:52] #861 closed

[2021-01-18 18:56] balazsorban44 commented on #1144
JWT or JSON Web Token is just the format in which the session cookie is saved. JWT is not a concept in next-auth, and it's not something I think we can "separate" from session.

[2021-01-18 19:02] lnikell commented on #1144
it’s more about terminology i think, maybe that’s only my problem and everything is clear for everyone else.

I’ve read codebase, so it’s clear for me how does library work. However I think that it’s a bit confusing call Session - database session and jwt strategy. It’s unclear for me why those two different concepts named the same.

[2021-01-18 19:03] balazsorban44 commented on #1141
This has been in the canary release before, and because of popular request, may come back in anither canary release soon: https://github.com/nextauthjs/next-auth/pull/823

[2021-01-18 19:07] balazsorban44 opened #1146 "Remove FaunaDB"
As we have started working on getting a stable release out, we have to be careful we don't add too much overhead to the package in the process. FaunaDB was never something the original author intended to add as a builtin adapter, and we even discussed ways of separating current adapters into their own packages as well.

As such, we should remove the Fauna DB adapter for now.

If someone needs it,

[2021-01-18 19:10] balazsorban44 opened #1147 "Re-add configurable auth params from signin"
By popular request #823 should be reimplemented

[2021-01-18 19:43] pbteja1998 commented on #1146
Once I review the code that the original author has written, I would create it as a separate package. Since I am using it in my projects, I would make sure to maintain it.

Will update here when I make it into a separate package.

Meanwhile, if anyone is interested, you can checkout https://github.com/pbteja1998/nextjs-starter repo to get an idea of how to use it.

[2021-01-18 20:00] thulstrup commented on #685
Replacing
[code]
with
[code]
seems to fix the `[object Object]` issue.

[2021-01-18 21:50] ndom91 commented on #1146
Yeah I agree, especially for getting out a stable release with the tons of other features / PRs that have been merged recently. This makes sense.

[2021-01-18 21:58] #1146 closed

[2021-01-18 21:59] balazsorban44 commented on #1012
Fauna has been removed for now, see the explanation at #1146

[2021-01-18 21:59] #1012 closed

[2021-01-18 22:09] awey95 commented on #1106
I went to bed, woke up, booted up my app and I started getting this error. It was working last night so not sure what happened.

[code]

[2021-01-18 23:23] #1147 closed

[2021-01-19 00:37] eliooses-zondax commented on #1133
From @iaincollins on https://github.com/nextauthjs/next-auth/issues/497#issuecomment-664995695:

I really believe this is happening. My code is the following:

[code]

Is it possible that the NEXTAUTH_URL is not being set correctly or in the opposite case that Firebase does not deliver the environment variable correctly?

[2021-01-19 00:40] mmahalwy opened #1150 "Using an adapter for external backend API?"
**Your question**

The docs show how to create a custom adapter for some other DB or library. In my case, I am doing this for an external API. Is this the correct way to connect to external backend API?

**What are you trying to do**
Using an external backend API.

**Reproduction**
[code]
**Feedback**
*Documentation refers to searching through [online documentation](https://next-auth.js.org), code

[2021-01-19 00:59] balazsorban44 commented on #1144
`session` is the same in both cases. `database` and `jwt` are the means to store a session.

When a user signs in, a session is created. It must be stored somewhere, so the user does not have to sign in on every interaction that needs auth. The session usually holds some data about the user. That can either be saved in a database or a jwt encoded (session) cookie.

[2021-01-19 01:08] balazsorban44 commented on #685
So this issue has been solved, but I hit a wall. I was too naive to think that I could create a PKCE challenge and verifier as in the PR right now. The way it is now will create new challenge and verifier on every call, so the Provider won't be able verify anything. I have an idea but I have to discuss it with @iaincollins. I'll push my changes anyway tomorrow, so you can have a look

[2021-01-19 01:11] bdesouza opened #1151 "Cookie policy for using NextAuth inside iframe"
**Your question**
I've noticed that the cookie isn't being set when embedded in a page via an iframe.

**What are you trying to do**
I'd like to embed the app using NextAuth in an iframe in a partner's website. Example: `a.com` has an iframe that references our website (`b.com`). I would like the users who visit `a.com` to be able to login.

**Reproduction**
Go to https://www.w3schools.com/tags/tr

[2021-01-19 01:13] balazsorban44 commented on #502
duplicate of #685. Main problem here is PKCE support. for additional comments, please go to #685

[2021-01-19 01:13] #502 closed

[2021-01-19 01:30] eliooses-zondax commented on #1133
To rule out that it is a problem with reading the environment variables, I have just included the variables as strings:

`/pages/api/auth\[...nextauth].js`:

[code]

With the same bad result. I am really infuriated with this situation.

[2021-01-19 01:32] eliooses-zondax commented on #1133
To rule out that it is a problem with reading the environment variables, I have just included the variables as strings:

`/pages/api/auth\[...nextauth].js:`

[code]

With the same bad result. I am really infuriated with this situation.

[2021-01-19 03:12] itxtoledo commented on #1150
my question is similar to yours, my api already does the job of returning the jwt token to me but the next-auth insists on trying to encrypt and transform it into another jwt

[2021-01-19 03:20] itxtoledo opened #1152 "my own api with jwt"
I already have a JWT generation system in my own api, but the next-auth insists on trying to transform my jwt into another jwt, how can I use this jwt that comes from my api?

![image](https://user-images.githubusercontent.com/21026675/104983855-5b121e00-59ec-11eb-86a0-63454e6ba078.png)

* [ ] Found the documentation helpful
* [ ] Found documentation but was incomplete
* [ ] Could not find relevan

[2021-01-19 03:28] mmahalwy commented on #1150
@itxtoledo yeah. I am using next-auth, instead of my own, because i will eventually need oauth with other services and don't want to handle the oauth magic.

[2021-01-19 04:14] eliooses-zondax commented on #1133
Just FYI:

One of the many things I have tried was exposing environment variables to the browser according to the official documentation:

https://nextjs.org/docs/basic-features/environment-variables#exposing-environment-variables-to-the-browser

`.env`

[code]

`/pages/api/auth\[...nextauth].js:`

[code]

The results was the this same issues previously reported: https://github.com/nextauthjs/next

[2021-01-19 07:57] eliooses-zondax commented on #1133
I just deployed the same code in Vercel and its working like a charm. OK.

 ̷1̷.̷ ̷I̷t̷ ̷i̷s̷ ̷a̷ ̷N̷e̷x̷t̷A̷u̷t̷h̷ ̷b̷u̷g̷
2. It is a NextAuth bug with Firebase
3. It is a Firebase bug

[2021-01-19 08:49] balazsorban44 commented on #1133
Please read the documentation carefully:

https://next-auth.js.org/configuration/options

The variable name MUST BE `NEXTAUTH_URL`. Nothing else is accepted.

You also don't have to use the `site` property anymore. Simply setting the env variable correctly should work.

VERCEL_URL is just a fallback, in case you don't set the NEXTAUTH_URL variable. But you shouldn't rely in it, rather be explicit

[2021-01-19 08:56] #1133 closed

[2021-01-19 08:58] dartmoordunbar opened #1153 "Auth and Cloudfront"
**Your question**
Do you have to do anything specific to allow next-auth to work through AWS Cloudfront?
**What are you trying to do**
I have a previously working next-auth app hosted on Elastic Beanstalk - I have now put Cloudfront in front of it to allow for HTTPS. The login link takes me to here
https://dartmoortrust.org/api/auth/signin?callbackUrl=https%3A%2F%2Fdartmoortrust.org%2F
Then on cli

[2021-01-19 09:03] balazsorban44 commented on #1151
Hi there! For increased security, all our cookies are same site only by default:

https://github.com/nextauthjs/next-auth/blob/canary/src/server/lib/cookie.js#L114-L147

You can override this as documented here:

https://next-auth.js.org/configuration/options#cookies

Please do it at your own risk!

[2021-01-19 09:07] #947 closed

[2021-01-19 09:09] balazsorban44 commented on #1152
next-auth creates its own jwt, and currently there is nothing you can do about it.

I assume we do this in the name of security, but @iaincollins coyod probably explain the exact reason

[2021-01-19 09:13] balazsorban44 commented on #1150
@mmahalwy im not sure what's the question here, but I guess as long as it works for you and you implement all the outlined required methods, I don't see why it wouldn't be OK.

https://next-auth.js.org/tutorials/creating-a-database-adapter

@itxtoledo https://github.com/nextauthjs/next-auth/issues/1152#issuecomment-762705564

[2021-01-19 11:54] sunrunner4kr-simon commented on #1126
I replaced what I had with the following example from the site: - https://next-auth.js.org/getting-started/example

I still get that same error

[2021-01-19 13:18] balazsorban44 commented on #1153
Can it be that CloudFront tries to cache the /api pages? Could you verify that this is not the case?

[2021-01-19 14:06] iaincollins commented on #1153
This would be my gut feeling too.

It should work fine on AWS Cloudfront but could be tripping up depending on the CDN configuration.

Disable caching for all `/api/auth/` routes is probably the easiest way to resolve this.

I'm open to suggestions for changes to default Cache-Control headers which would avoid folks getting caught out by this.

e.g. adding `Cache-Control: private, no-cache, no-sto

[2021-01-19 14:43] balazsorban44 commented on #1153
@iaincollins Next.js already sets necessary cache  headers for every /api route

[2021-01-19 14:49] balazsorban44 commented on #1126
then it's most certainly a configuration error somehow.

[2021-01-19 14:57] sunrunner4kr-simon commented on #1126
My package.json states
![image](https://user-images.githubusercontent.com/58920692/105051360-95200600-5a66-11eb-996f-f31b18c51d36.png)

[2021-01-19 15:40] #846 closed

[2021-01-19 16:41] iaincollins commented on #1146
@balazsorban44 Thanks for the update!

@pbteja1998 hank you for the work on this adapter!

I'm sorry we don't have the ability to support them as first-party / part of core right now - I just feel we are stretched and wouldn't do a good job of maintaining or testing it.

I would welcome pull requests to update the documentation to link out to it (and to any other third party maintained adapters),

[2021-01-19 16:51] balazsorban44 opened #1154 "Multi language support"
**Summary of proposed feature**
`next-auth` pages are currently only available in English: https://next-auth.js.org/configuration/pages

**Purpose of proposed feature**
These pages can be customized/replaced by the user to mitigate any requirements, but it would be nice if we provided a way to show these pages in multiple languages out-of-the-box.

**Detail about proposed feature**

Next.js 10 add

[2021-01-19 17:01] iaincollins commented on #1098
Hmm someone else reported odd behaviour like this recently, but I think they resolved it - but certainly sounded very similar.

The object passed to `createSession (user)` _should_ always be a User object, and not an Account object.

i.e. `user.id` should be the user ID, and it shouldn't have a `user.userId` property. It would be interesting to log what is being passed to `createSession` to see if

[2021-01-19 18:06] lavcraft commented on #689
@iaincollins thanks for your answer in previous comment. But what is actual status of this case? It's a bug? I'm finding a solution for apps with basePath and i guess, way with manual injecting basePath like this:

[code]

Is not the best way, because next-auth can use some integration with next.js and provide good development expirience :)

[2021-01-19 18:25] pbteja1998 commented on #1146
@iaincollins
Yes, I think that would be better — to create a repo inside `next-auth` GitHub org.

[2021-01-19 18:45] emersonlaurentino opened #1155 "How I get the userId from hook useSession"
**Your question**
The useSession hook currently has a response to the session:

`accessToken`, `expires` and `user`. In `user` it brings `name`, `email` and `image`, I would like it to also include the `id` of the user.

**What are you trying to do**
Read the user id from session

**Reproduction**
this is not a bug

**Feedback**
*Documentation refers to searching through [online documentation](htt

[2021-01-19 21:13] grikomsn opened #1156 "Adding options to define `NEXTAUTH_URL` not via env vars"
**Summary of proposed feature**
Adding options to define `NEXTAUTH_URL` not via environment variables but via server handler creation parameters or client default parameters.

**Purpose of proposed feature**
Allow custom and dynamic `NEXTAUTH_URL` value assignment via function parameters instead of environment variables, where in some cases cannot set environment variables or requires dynamic assi

[2021-01-19 22:35] balazsorban44 commented on #1155
Please read the docs about the `jwt` and `session` callbacks https://next-auth.js.org/configuration/callbacks

[2021-01-19 22:35] #1155 closed

[2021-01-19 22:37] balazsorban44 opened #1157 "Create list of providers dynamically from provider docs front matter"
Currently, we define providers twice in the documentation. We have a `www/providers.json` file, but each provider documentation has the same information about the provider id and title. We could create the `providers.json` file out of those front matters, and add it as a pre-build step for the documentation page. This would minimize the number of files that need to be added/edited when adding a ne

[2021-01-19 22:57] jeremy-london opened #1158 "Missing FusionAuth from types"
**Describe the bug**

Property 'FusionAuth' does not exist on type 'Providers'

**Steps to reproduce**
Steps to reproduce the behavior.

Include a link to the public repository which can be used to reproduce the behavior.

**Expected behavior**
Types should be complete with the latest release of next-auth
https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/next-auth is currently n

[2021-01-19 23:03] balazsorban44 commented on #1158
With TypeScript issues, please go to https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/next-auth for now. TS support is currently a community effort.

[2021-01-19 23:03] #1158 closed

[2021-01-19 23:05] balazsorban44 commented on #1065
Thanks for the additional information, I will take this up with @iaincollins!

[2021-01-19 23:08] jeremy-london commented on #1158
May want to re-address the README a bit: https://github.com/nextauthjs/next-auth/blob/canary/README.md#typescript

[2021-01-19 23:21] balazsorban44 opened #1159 "document generateVerificationToken email provider option"
`generateVerificationToken` can be used to override the default
[code]
method as implemented in https://github.com/nextauthjs/next-auth/pull/541

This should be reflected in the docs under https://github.com/nextauthjs/next-auth/blob/canary/www/docs/providers/email.md

[2021-01-19 23:42] balazsorban44 commented on #1158
Thanks, I will do that!

[2021-01-19 23:49] mcevskb commented on #591
@VijayStroup were you able to find a solution ?

[2021-01-19 23:50] VijayStroup commented on #591
Nope, was not able to find a solution. I just decided to not use a library for authentication for the project I was using this for.

[2021-01-20 00:09] MelMacaluso commented on #591
@VijayStroup  that worked for me, maybe if you amend accordingly could work too?

[2021-01-20 01:26] get6 opened #1160 "Is there a way set google's scope in [...nextauth].ts file"
Hello.

I was really happy knowing this library.

and I only need Google's Provider. so is not difficult to use it.

NextAuth simply worked.

But I have a question.

**Your question**

Is there any scope option for Google's provider?

**What are you trying to do**

I need Google Calendar API for the Company Admin site

I have to get permission about Calendar API When the user signs in

There is a

[2021-01-20 04:14] itwasmattgregg commented on #1098
I can do some more logging tomorrow. userId did exist though and id was definitely the id of the account object in my database. I'll have to recreate a setup where the account ids don't line up with user ids. Probably just create fake user rows in the db.

[2021-01-20 06:37] get6 commented on #1160
Hi. For fixing this error. I tried two ways. but it doesn't affect.

As you know I need to set the scope.

Somehow, I thought it works that I had an idea to set google provider authorization URL with a scope on [...nextauth].ts.

but some error came out
`
OAuth 2 parameters can only have a single value: scope
`

so I used another way.

Set Url with scope to button href

THE callback API is the sam

[2021-01-20 07:12] get6 commented on #1160
Maybe I have to replace Providers.Google to Custom Provider.

I'm using typescript. Where I can find Profile's type?

The profile doesn't have a picture attribute.

And Callback error told me
`
Invalid state returned from oAuth provider
`

[2021-01-20 08:11] get6 commented on #1160
Oh I resolved this problem!

For someone who read this.
`
{
      id: 'google',
      name: 'Google',
      type: 'oauth',
      version: '2.0',
      scope:
        'https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/calendar',
      params: { grant_type: 'authorization_code' },
      accessTokenUrl: 'https://accounts.go